{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Account Deleted' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-4 ">
	<h3>{% trans 'Account Deleted' %}</h3>
</div>
{% endblock header %}

{% block content %}

{% blocktrans %}
<p>Your account and all your data has now been deleted.</p>

<p>To access Oppia again you will need to re-register to create a new profile</p>

{% endblocktrans %}

{% endblock %}