{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block header %}
<div class="jumbotron mb-4">
	<h3>{% trans 'page_title_points' %}</h3>
</div>
{% endblock header %}

{% block content %}

{% if object_list %}

    <div class="table-responsive">
         <table class="table table-striped">
         	 <caption class="d-none">{% trans "Points" %}</caption>
         	 <thead>
                <tr>
                  <th scope="col">{% trans 'table_header_points_date' %}</th>
                  <th scope="col">{% trans 'table_header_points' %}</th>
                  <th scope="col">{% trans 'table_header_points_description' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for p in object_list %}
		 <tr>
           <td>{{ p.date|date:"d M Y H:i" }}</td>
           <td>{{ p.points }}</td>
           <td>{{ p.description }}</td>
         </tr>
	{% endfor %}
		</tbody>
 		</table>
	</div>
	{% include 'common/pagination.html' with page=page_obj %}
	
{% else %}
	<p>You don't have any points yet</p>
{% endif %}
{% endblock %}