{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Profile' %}
{% endblock extra_head_title %}


{% block header %}
<div class="jumbotron mb-2">
	<div class="row">
		<div class="col-sm-5">
			<h3>Profile</h3>
		</div>

		<div class="col-sm-7 text-right">
			<a href="{% url 'profile:delete' user.id %}" class="btn btn-light mr-2 mb-3">{% trans 'Delete Account' %}</a>
			<a href="{% url 'profile:user_regenerate_certificates' user.id %}"  class="btn btn-light mr-2 mb-3">{% trans 'Regenerate Certificates' %}</a>
			<a href="#" class="btn btn-secondary mb-3" data-toggle="collapse" data-target="#export-data" aria-expanded="false">{% trans 'Export' %}</a>
		</div>
	</div>

	<div id="export-data" class="collapse mt-4   {% if advanced_search %}show{% endif %}">
            <h5>{% trans 'Export data' %}</h5>
			<a href="{% url 'profile:export_mydata' 'profile' %}" class="btn btn-light mr-2" target="_blank" rel="noopener">{% trans 'Export Profile' %} <em class="fas fa-external-link-alt ml-2"></em></a>
			<a href="{% url 'profile:export_mydata' 'activity' %}" class="btn btn-light mr-2" target="_blank" rel="noopener">{% trans 'Export Course Activity' %} <em class="fas fa-external-link-alt ml-2"></em></a>
			<a href="{% url 'profile:export_mydata' 'quiz' %}" class="btn btn-light mr-2" target="_blank" rel="noopener">{% trans 'Export Quiz Attempts' %} <em class="fas fa-external-link-alt ml-2"></em></a>
			<a href="{% url 'profile:export_mydata' 'points' %}" class="btn btn-light mr-2" target="_blank" rel="noopener">{% trans 'Export Points' %} <em class="fas fa-external-link-alt ml-2"></em></a>
			<a href="{% url 'profile:export_mydata' 'badges' %}" class="btn btn-light mr-2" target="_blank" rel="noopener">{% trans 'Export Badges' %} <em class="fas fa-external-link-alt ml-2"></em></a>
    </div>

</div>
{% endblock header %}

{% block content %}
<form method="post" class="shadow-sm" style="margin-top:-1.5rem;">
<div class="jumbotron p-4 bg-light shadow-none">

	{% include "includes/messages.html" %}

<div class="row">
	{% if form.gravatar %}
	<div class="col-md-2 p-0">
		{% crispy form form.gravatar %}
	</div>
	{% endif %}
	<div class="{% if form.gravatar %}col-md-10 {% else %} col-md-12 {% endif %}">
		{{ form.first_name|as_crispy_field}}
		{{ form.last_name|as_crispy_field}}
		{{ form.email|as_crispy_field}}
	</div>
</div>
{% if form.gravatar %}<hr>{% endif %}
{{ form.username|as_crispy_field}}
{{ form.api_key|as_crispy_field}}

{% if request.user.is_staff %}
	{{ form.exclude_from_reporting|as_crispy_field}}
{% endif %}

</div>

<div class="p-4">
{% crispy form form.helper %}
</div>

</form>

<div style="clear:both"></div>



{% endblock %}
