{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Search users' %}
{% endblock extra_head_title %}

{% block header %}
<form method="get" class="form-horizontal">
<div class="jumbotron mb-4 ">
    <div class="d-md-flex">
        <h3>{% trans 'Search users' %}</h3>
        <div class="flex-grow ml-4">
             <div class="input-group">

                  <input type="text" name="q" {% if quicksearch %}value="{{ quicksearch }}" {% endif %}class="form-control" aria-label="{% trans 'Search' %}" placeholder="{% trans 'Search...' %}">
                  <span class="input-group-btn"><button class="btn btn-flat mr-3" type="submit" ><em class="fas fa-search"></em></button></span></span>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#advanced-search" aria-expanded="false" aria-controls="collapseExample">Advanced search
  </button>
            </div>

        </div>
    </div>

    <div id="advanced-search" class="collapse mt-4   {% if advanced_search %}show{% endif %}">
            {% crispy search_form %}
    </div>

  </div>

    </form>
{% endblock header %}

{% block content %}


<div class="search-block">

{% include "profile/users-paginated-list.html" %}
</div>

{% endblock content %}

{% block extra_scripts %}
	<script type="text/javascript">
        {% include "oppia/includes/init-date-picker-js.html" %}
        $(setUpDatePicker);
    </script>
{% endblock extra_scripts %}