{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Upload users' %}
{% endblock extra_head_title %}


{% block header %}
<div class="jumbotron mb-4 ">
	<h3><em class="material-icons mr-2">arrow_upward</em> {% trans 'Upload users' %}</h3>
</div>
{% endblock header %}

{% block content %}

<div class="row">
	<div class="col-md-5 mb-4">
		{% if results %}
	<h4>{% trans 'Upload results' %}</h4>
	<div class="table-responsive">
         <table class="table table-striped-expandable">
         	 <caption class="d-none">{% trans "Upload results" %}</caption>
         	 <thead>
                <tr>
                  <th scope="col">{% trans 'Username' %}</th>
                  <th scope="col">{% trans 'Results' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for r in results %}
				<tr>
					<td>{{ r.username }}</td>
					<td>{{ r.message }}</td>
				</tr>
	{% endfor %}
			</tbody>
 		</table>
 	</div>
{% endif %}

		<h4>{% trans 'Upload user file' %}</h4>
		{% crispy form %}
	</div>
	<div class="col-md-7">
		{% blocktrans %}
		<p>You may only upload a 'CSV' file and the column titles in this 
		   must be exactly as shown below.</p>
		
		<p>If you re-upload an edited file then users accounts will be updated
		   to match.</p>
		
		<p>The following columns/fields are required:</p>
		<ul>
			<li><code>username</code></li>
			<li><code>firstname</code></li>
			<li><code>lastname</code></li>
		</ul>

		<p>You may also optionally add the following columns/fields:</p>
		<ul>
			<li><code>password</code> (note: if you do not add a password, one will be randomly generated)</li>
			<li><code>email</code></li>
			<li><code>phone_number</code></li>
		{% endblocktrans %}
			{% if custom_fields %}
				{% for cf in custom_fields %}
				<li><code>{{ cf.id }}</code></li>
				{% endfor %}
			{% endif %}
		</ul>
		
	</div>
</div>







{% endblock %}