{% load i18n %}
{% load display_functions %}

<div class="table-responsive">
<table class="table table-striped table-hover" style="margin-bottom:0;">
	 <caption class="d-none">{% trans "Users" %}</caption>
     <thead>
        <tr>
        	<th scope="col" class="d-none"></th>
        {% if users_list_template %}
            {% with "profile/list/header-user-"|add:users_list_template|add:".html" as header_template_path %}
                {% include header_template_path %}
            {% endwith %}
        {% else %}
            {% include 'profile/list/header-user-default.html' %}
        {% endif %}
        </tr>
      </thead>
      <tbody {% if users_list_template %} id="{{ users_list_template }}" {% endif %}>

    {% if users_list_template %}
        {% with "profile/list/row-user-"|add:users_list_template|add:".html" as row_template_path %}
            {% for user in object_list %}
                {% include row_template_path %}
            {% endfor %}
        {% endwith %}
    {% else %}
        {% for user in object_list %}
            {% include 'profile/list/row-user-default.html' %}
        {% endfor %}

    {% endif %}

    </tbody>
</table>
</div>

{% include "common/pagination.html" with page=page_obj %}