{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load sort_link %}
{% load static %}

{% block extra_head_title %}
	{{ view_user.first_name }} {{ view_user.last_name }}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-3 pb-2">
	<div class="row mb-2">
			<div class="col-md-6 d-lg-none">
					<h3 class="mb-0"> {{ view_user.first_name }} {{ view_user.last_name }}</h3>
					{{view_user.username}}
			</div>
			<div class="col-md-6 d-lg-none text-right">
				<a href="{% url 'profile:user_all_attempts' view_user.id %}" class="btn btn-secondary mb-2">{% trans 'Quiz attempts' %}</a>
				<a href="{% url 'profile:edit_user' view_user.id %}" class="btn btn-light ml-2 mb-2">{% trans 'Edit' %}</a>
			</div>
	</div>
</div>
{% endblock header %}

{% block content %}


<div class="row">
	<div class="col-lg-4 d-none d-lg-block">
		<div class="card" style="margin-top:-2.5rem;">
			<div class="card-header">
				<em class="fas fa-user-circle fa-3x mr-3 text-muted float-left mt-2"></em>
			<h3 class="mb-0">{{ view_user.first_name }} {{ view_user.last_name }}</h3>
				{{view_user.username}}
			</div>
		<div class="card-body">
			<div class="card-text">
				<strong class="text-black-50">{% trans 'Date joined:' %}</strong> {{view_user.date_joined}}<br>
				<strong class="text-black-50">{% trans 'Email:' %}</strong> {{ view_user.email|default_if_none:"Not set" }}<br>
				<strong class="text-black-50">{% trans 'Phone no.:' %}</strong> {{ view_user.userprofile.phone_number|default_if_none:"Not set" }}<br>
			</div>
		</div>
			<div class="list-group list-group-flush">
				<a href="{% url 'profile:edit_user' view_user.id %}" class="list-group-item list-group-item-action">
					<em class="fas fa-fw text-primary mr-3 fa-user-edit"></em> {% trans 'Edit profile' %}</a>
				<a href="{% url 'profile:user_activity_detail' view_user.id %}"  class="list-group-item list-group-item-action">
					<em class="fas fa-fw text-primary mr-3 fa-chart-bar"></em> {% trans 'Detailed activity' %}</a>
				<a href="{% url 'profile:user_all_attempts' view_user.id %}" class="list-group-item list-group-item-action">
					<em class="far fa-fw text-primary mr-3 fa-check-circle"></em>{% trans 'Quiz attempts' %}</a>
				<a href="{% url 'profile:user_all_feedback_responses' view_user.id %}" class="list-group-item list-group-item-action">
					<em class="far fa-fw text-primary mr-3 fa-comment-dots"></em> {% trans 'Feedback answers' %}</a>
				<a href="#" class="list-group-item list-group-item-action disabled">
					<em class="fas fa-fw mr-3 fa-star"></em> {% trans 'Points and badges' %}</a>
		  	</div>

		</div>
	</div>

	<div class="col-lg-8">

		<div class="row">
			<div class="col-sm-5 col-md-4 col-lg-4 pt-3"><h3>{% trans 'Recent activity' %}</h3></div>
			<div class="col-sm-7 col-md-5 col-lg-5">{% include "common/form/date-range.html" with dateform=form %}</div>
		</div>
		{% include "oppia/includes/activity-graph.html" with graph_div_id="activity_graph_div" %}

	</div>
</div>

<h3>{% trans 'Courses' %}</h3>
{% if courses %}
	<div class="table-responsive">
         <table class="table table-striped sortable">
         	<caption class="d-none">{% trans "Courses" %}</caption>
         	<thead>
                <tr>
                  <th scope="col">{% sort_link 'course' 'Course' %}</th>
                  <th scope="col">{% sort_link 'pretest_score' 'Pre-test Score' %}</th>
                  <th scope="col">{% sort_link 'no_activities_completed' 'Activities Completed' %}</th>
                  <th scope="col">{% sort_link 'no_quizzes_completed' 'Quizzes Completed' %}</th>
                  <th scope="col">{% sort_link 'no_points' 'Points' %}</th>
                  <th scope="col">{% sort_link 'no_badges' 'Badges' %}</th>
                  <th scope="col">{% sort_link 'no_media_viewed' 'Media viewed' %}</th>
                </tr>
              </thead>
             <tbody>
				{% for c in courses %}
					<tr>
						<td>
                            <div class="list-pie" data-total="{{ c.course.get_no_activities }}" data-completed="{{ c.no_activities_completed }}" ></div>
                            <a href="{% url 'profile:user_course_activity' view_user.id c.course.id%}">
                            {{ c.course.title|title_lang:LANGUAGE_CODE }}</a>
							{% include "common/info_badges.html" with course=c.course %}
                        </td>
						<td>
							{% if c.pretest_score %}
								{{ c.pretest_score|floatformat:1 }}%
							{% else %}
								--
							{% endif %}
						</td>
						<td>
                            {{ c.no_activities_completed }}/{{ c.course.get_no_activities }}
                        </td>
						<td>{{ c.no_quizzes_completed }}/{{ c.course.get_no_quizzes }}</td>
						<td>{{ c.no_points }}</td>
						<td>
							{% if c.no_badges > 0 %}
								<span class="badges"
									title="{% trans 'Badge' %}"><img
									src="{% static "oppia/images/badge.png" %}"
									alt="{% trans 'Badge' %}" /></span>
							{% else %}
								&nbsp;
							{% endif %}
						</td>
                        <td>
                            {% if c.course.get_no_media > 0 %}
                                {{ c.no_media_viewed }}/{{ c.course.get_no_media }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
			</tbody>
 		</table>
	</div>
{% else %}
	{% blocktrans %}<p>Not participated in any courses.</p>{% endblocktrans %}
{% endif %}


{% endblock %}

{% block extra_styles %}
    <link href="{% static "oppia/circliful/circliful.css" %}" rel="stylesheet"/>
{% endblock extra_styles %}

{% block extra_scripts %}
	<script src="{% static "oppia/circliful/circliful.min.js" %}"></script>
	<script type="text/javascript">
	    $(function(){
	    	var attemptedColor = $('.bg-primary').css('background-color');
            $('.list-pie').each(function(){
                var pie = $(this);
                percent = pie.data('completed') * 100 / pie.data('total');
                pie.circliful({ percent: percent, foregroundColor:attemptedColor, backgroundColor:"#fff", foregroundBorderWidth:6 });
            });
        });

	</script>
{% endblock extra_scripts %}