{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}

{% block extra_scripts %}
<script type="text/javascript">
	$('tr[name=trackerlist]').each(function(i){
		$('#detail'+$(this).attr('id')).toggle();
		$(this).click(function() {
			$('#detail'+$(this).attr('id')).slideDown(700);
		});
	});
</script>
{% endblock extra_scripts %}


{% block header %}
<div class="jumbotron pb-2 mb-3">
	<div class="row">
		<div class="col-md-12">
			<h3><a href="{% url 'oppia:recent_activity' course.id %}">{{ course.title|title_lang:LANGUAGE_CODE }}</a>
			{% if course.is_draft %}
				<span class="badge badge-dark ml-2"><small>{% trans 'draft' %}</small></span>
			{% endif %}
			{% if course.is_archived %}
				<span class="badge badge-dark ml-2"><small>{% trans 'archived' %}</small></span>
			{% endif %}
				<em class="material-icons md-18 ">arrow_forward_ios</em>  {% trans 'Detail activity' %}
			</h3>
			<p><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>
		</div>
		<div class="col-md-6">
			{% include "common/form/date-range.html" with dateform=form %}
		</div>

	</div>

</div>
{% endblock header %}

{% block content %}

{% if page.object_list %}

	<div style="margin-left:15px">
	{% include "includes/messages.html" %}	

	</div>

    <div class="table-responsive">
         <table class="table">
             <caption class="d-none">{% trans 'Trackers' %}</caption>
         	 <thead>
                <tr>
                  <th scope="col">{% trans 'table_header_tracker_date' %}</th>
                  <th scope="col">{% trans 'table_header_tracker_user' %}</th>
                  <th scope="col">{% trans 'table_header_tracker_type' %}</th>
                  <th scope="col">{% trans 'table_header_tracker_activity' %}</th>
                  <th scope="col">{% trans 'table_header_tracker_timetaken' %}</th>
                  <th scope="col">{% trans 'table_header_tracker_lang' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for t in page.object_list %}
		<tr id='{{ t.id }}' name="trackerlist" class="hover">
			<td>{{ t.tracker_date|date:"d M Y H:i" }}</td>
			<td>{% if OPPIA_SHOW_GRAVATARS %}
       				{{ t.user|gravatar:24 }}
       			{% endif %}
       			{% if request.user.is_staff %}
					<a href="{% url 'profile:user_activity' t.user.id %}">{{ t.user.first_name }} {{ t.user.last_name }}</a>
				{% else %}
					{{ t.user.first_name }} {{ t.user.last_name }}
				{% endif %}</td>
			<td>{{ t.type }}</td>
			<td>{% if t.get_media_title %}
					{{ t.get_media_title }}
				{% else %}
					{% if t.activity_title %}
						{{ t.activity_title|title_lang:LANGUAGE_CODE }}
					{% endif %}
					{% if t.section_title %}
						({{ t.section_title|title_lang:LANGUAGE_CODE }})
					{% endif %}
				{% endif %}</td>
			<td>{{ t.time_taken }}</td>
			<td>{% if t.get_lang %}{{ t.get_lang}}{% else %}--{% endif %}</td>
		</tr>
		<tr id='detail{{ t.id }}'>
			<td colspan="6">
				 <div class="table-responsive">
        			 <table class="table table-striped">
        			     <caption  class="d-none">{% trans 'Tracker detail' %}</caption>
			         	 <thead>
			                <tr>
			                  <th scope="col">{% trans 'Name' %}</th>
			                  <th scope="col">{% trans 'Value' %}</th>
			                </tr>
			              </thead>
			              <tbody>
				{% for k,v in t.data_obj %}
					<tr>
						<td>{{ k }}</td>
						<td>{{ v }}</td>
					</tr>
			{% endfor %}
			</tbody>
 		</table>
			</td>
		</tr>
	{% endfor %}
			</tbody>
 		</table>
	</div>
	{% include "common/pagination.html" %}
	
{% else %}
	<h4>{% trans 'No hits during the date range selected' %}</h4>
{% endif %}
{% endblock %}