{% load display_functions %}
{% load i18n %}

<div class="card-header">
    <h6 class="card-title">{{ course.title|title_lang:LANGUAGE_CODE }}
    {% if course.is_draft %}
        <span class="badge badge-dark badge-sm ml-2"><small>{% trans 'draft' %}</small></span>
    {% endif %}
    {% if course.is_archived %}
        <span class="badge badge-dark badge-sm ml-2"><small>{% trans 'archived' %}</small></span>
    {% endif %}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted"><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></h6>
</div>
{% if course.description or extended %}
<div class="card-body">
    <div class="card-text">
        <p>
            {{ course.description|title_lang:LANGUAGE_CODE|default_if_none:"No description"  }}
        </p>
        {% if extended %}
        <strong class="text-black-50">{% trans 'Shortname:' %}</strong> <code>{{ course.shortname }}</code><br>
        <strong class="text-black-50">{% trans 'Version:' %}</strong> <code>{{ course.version }}</code><br>
        <strong class="text-black-50">{% trans 'Created:' %} </strong> {{ course.created_date }}<br>
        <strong class="text-black-50">{% trans 'Last updated:' %} </strong> {{ course.lastupdated_date }}<br>
        <a href="{% url 'oppia:course_download' course.id %}" class="btn btn-primary mt-3 mb-2"><em class="fas mr-2 fa-arrow-down"></em> {% trans 'Download course' %}</a><br>
        {% endif %}

        {{ download_stats.total|default:0 }} downloads by {{ download_stats.distinct|default:0 }} users
    </div>
</div>
{% endif %}