{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}

{% block extra_scripts %}
	<script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
	<script type="text/javascript">
	google.charts.load('current', {packages: ['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	
	function drawChart() {

		var data = new google.visualization.DataTable();
		data.addColumn('string', "{% trans 'Date' %}");
		data.addColumn('number', "{% trans 'Total' %}");
		data.addColumn('number', "{% trans 'Page completed' %}");
		data.addColumn('number', "{% trans 'Quiz completed' %}");
		data.addColumn('number', "{% trans 'Media viewed' %}");
		data.addColumn('number', "{% trans 'Resources viewed' %}");
		data.addRows( {{ data|length }} );
		
		{% for date, activity in data %}
			{% if monthly %}
				data.setValue({{ forloop.counter0 }}, 0, "{{ date| date:'F Y' }}");
			{% else %}
				data.setValue({{ forloop.counter0 }}, 0, "{{ date| date:'j M Y' }}");
			{% endif %}
			data.setValue({{ forloop.counter0 }}, 1, {{ activity.total }});
			data.setValue({{ forloop.counter0 }}, 2 ,{{ activity.page }});
			data.setValue({{ forloop.counter0 }}, 3, {{ activity.quiz }});
			data.setValue({{ forloop.counter0 }}, 4, {{ activity.media }});
			data.setValue({{ forloop.counter0 }}, 5, {{ activity.resource }});
		{% endfor %}

		var chartOptions = {
			width: "100%",
			height: 400,
			vAxis: {title: "{% trans 'No. attempts' %}"},
			pointSize:5,
			chartArea: {left:100,width:"70%",height:"75%"},
			backgroundColor: 'transparent',
			legend: {position:'right'}
		};
		{% if monthly %}
			chartOptions['hAxis'] = { format: 'MMM yyyy' };
		{% endif %}
        var chart = new google.visualization.LineChart(document.getElementById('attempts_chart_div'));
        chart.draw(data, chartOptions);
      }
</script>
{% endblock extra_scripts %}

{% block header %}
<div class="jumbotron pb-2 mb-3">
	<div class="row">
		<div class="col-md-6">
			<div class="d-lg-none">
			<h3>{{ course.title|title_lang:LANGUAGE_CODE }}
			{% if course.is_draft %}
				<span class="badge badge-dark ml-2"><small>{% trans 'draft' %}</small></span>
			{% endif %}
			{% if course.is_archived %}
				<span class="badge badge-dark ml-2"><small>{% trans 'archived' %}</small></span>
			{% endif %}
			</h3>
			<p><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>
			</div>
		</div>
		<div class="col-md-6 text-right">
			<a href="{% url 'oppia:course_edit' course.id %}" class="btn btn-light mr-2 mb-3">{% trans 'Edit' %}</a>
			<a href="{% url 'oppia_gamification_edit_course' course.id %}" class="btn btn-secondary mb-3">{% trans 'Gamification settings' %}</a>
		</div>
	</div>

</div>
{% endblock header %}

{% block content %}

<div class="row">
	<div class="col-lg-4 d-none d-lg-block">
		<div class="card" style="margin-top:-5.5rem;">
			{% include "course/detail_card.html" with course=course extended=True %}

			<div class="list-group list-group-flush">
				<a href="{% url 'oppia:recent_activity_detail' course.pk %}" class="list-group-item list-group-item-action">
					<em class="fas text-primary mr-2 fa-chart-bar"></em> {% trans 'Detailed activity' %}</a>
				<a href="{% url 'reports:course_completion_rates' course.pk %}" class="list-group-item list-group-item-action">
					<em class="fas text-primary mr-2 fa-chart-pie"></em> {% trans 'Completion rates' %}</a>
				<a href="{% url 'oppia:course_structure' course.pk %}" class="list-group-item list-group-item-action">
					<em class="far text-primary mr-2 fa-list-alt"></em>{% trans 'View structure' %}</a>
				<a href="{% url 'av:course_media' course.pk %}" class="list-group-item list-group-item-action">
					<em class="fas text-primary mr-2 fa-photo-video"></em> {% trans 'Related media' %}
					<span class="badge badge-info">{{course.get_no_media}}</span></a>
				<a href="{% url 'oppia:course_data_exports' course.pk %}" class="list-group-item list-group-item-action">
					<em class="far text-primary mr-2 fa-list-alt"></em>{% trans 'Course Data Exports' %}</a>
		  	</div>

		</div>
	</div>

	<div class="col-lg-8">
		{% include "includes/messages.html" %}

		<h3 class="mb-0 d-lg-none ">{% trans 'courses_recent_activity' %} <a href="{% url 'oppia:recent_activity_detail' course.pk %}" class="btn btn-sm btn-light ml-3">{% trans 'View detail activity' %}</a> </h3>
		<div id="attempts_chart_div" class="graph">{% trans 'graph_generating'%}</div>

		<div class="container">
		{% include "common/form/date-range.html" with dateform=form drop='up' %}
		</div>
	</div>
</div>




{% if leaderboard %}
<h3>{% trans 'home_leaderboard' %}</h3>
{% include "oppia/includes/leaderboard.html" %}
{% endif %}
{% endblock %}