{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}

{% block extra_scripts %}
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type="text/javascript">

	// Load the Visualization API and the piechart package.
	google.load('visualization', '1.0', {'packages':['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(drawChart);
	function drawChart() {

		var data = new google.visualization.DataTable();
		data.addColumn('date', "{% trans 'Date' %}");
		data.addColumn('number', "{% trans 'Total' %}");
		data.addColumn('number', "{% trans 'Page completed' %}");
		data.addColumn('number', "{% trans 'Quiz completed' %}");
		data.addColumn('number', "{% trans 'Media viewed' %}");
		data.addColumn('number', "{% trans 'Resources viewed' %}");
		data.addRows( {{ data|length }} );
		
		{% for date,activity in data %}
			data.setValue({{ forloop.counter0 }},0,new Date({{ date| date:'Y' }},{{ date|date:'n' }}-1,{{date|date:'j'}}));
			data.setValue({{ forloop.counter0 }},1,{{ activity.total }});
			data.setValue({{ forloop.counter0 }},2,{{ activity.page }});
			data.setValue({{ forloop.counter0 }},3,{{ activity.quiz }});
			data.setValue({{ forloop.counter0 }},4,{{ activity.media }});
			data.setValue({{ forloop.counter0 }},5,{{ activity.resource }});
		{% endfor %}

		var chartOptions = {
			width: "100%",
			height: 400,
			vAxis: {title: "{% trans 'No. attempts' %}"},
			pointSize:5,
			chartArea: {left:100,width:"70%",height:"75%"},
			backgroundColor: 'transparent',
			legend: {position:'right'}
		};
		{% if monthly %}
			chartOptions['hAxis'] = { format: 'MMM yyyy' };
		{% endif %}
        var chart = new google.visualization.LineChart(document.getElementById('attempts_chart_div'));
        chart.draw(data, chartOptions);
      }
</script>
{% endblock extra_scripts %}

{% block header %}
<div class="jumbotron pb-2 mb-3">
	<div class="row">
		<div class="col-md-6">
			<div class="d-lg-none">
			<h3>{{ course.title|title_lang:LANGUAGE_CODE }}
			{% if course.is_draft %}
				<span class="badge badge-dark ml-2"><small>{% trans 'draft' %}</small></span>
			{% endif %}
			{% if course.is_archived %}
				<span class="badge badge-dark ml-2"><small>{% trans 'archived' %}</small></span>
			{% endif %}
			</h3>
			<p><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>
			</div>
		</div>
		<div class="col-md-6 text-right">
			<a href="{% url 'oppia:course_edit' course.id %}" class="btn btn-light mr-2 mb-3">{% trans 'Edit' %}</a>
			<a href="{% url 'oppia_gamification_edit_course' course.id %}" class="btn btn-secondary mb-3">Gamification settings</a>
		</div>
	</div>

</div>
{% endblock header %}

{% block content %}

<div class="row">
	<div class="col-lg-4 d-none d-lg-block">
		<div class="card" style="margin-top:-5.5rem;">
			<div class="card-header">
				<h6 class="card-title">{{ course.title|title_lang:LANGUAGE_CODE }}
				{% if course.is_draft %}
					<span class="badge badge-dark badge-sm ml-2"><small>{% trans 'draft' %}</small></span>
				{% endif %}
				{% if course.is_archived %}
					<span class="badge badge-dark badge-sm ml-2"><small>{% trans 'archived' %}</small></span>
				{% endif %}
				</h6>
				<h6 class="card-subtitle mb-2 text-muted"><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></h6>
			</div>
			<div class="card-body">

				<div class="card-text">
					<p>
						{{ course.description|title_lang:LANGUAGE_CODE|default_if_none:"No description"  }}
					</p>
					<strong class="text-black-50">Shortname:</strong> <code>{{course.shortname}}</code><br>
					<strong class="text-black-50">Version:</strong> <code>{{course.version}}</code><br>
					<strong class="text-black-50">Created: </strong> {{ course.created_date }}<br>
					<strong class="text-black-50">Last updated: </strong> {{ course.lastupdated_date }}<br>
					<a href="{% url 'oppia:course_download' course.id %}" class="btn btn-primary mt-3 mb-2"><i class="fas mr-2 fa-arrow-down"></i> Download course</a><br>
					{{ download_stats.total|default:0 }} downloads by {{ download_stats.distinct|default:0 }} users<br/>

				</div>

			</div>

			<div class="list-group list-group-flush">
				<a href="{% url 'oppia:recent_activity_detail' course.pk %}" class="list-group-item list-group-item-action"><i class="fas text-primary mr-2 fa-chart-bar"></i> Detailed activity</a>
				<a href="{% url 'reports:course_completion_rates' course.pk %}" class="list-group-item list-group-item-action"><i class="fas text-primary mr-2 fa-chart-pie"></i> Completion rates</a>
				<a href="{% url 'oppia:course_structure' course.pk %}" class="list-group-item list-group-item-action"><i class="far text-primary mr-2 fa-list-alt"></i>View structure</a>
				<a href="{% url 'av:course_media' course.pk %}" class="list-group-item list-group-item-action"><i class="fas text-primary mr-2 fa-photo-video"></i> Related media <span class="badge badge-info">{{course.get_no_media}}</span></a>
		  	</div>

		</div>
	</div>

	<div class="col-lg-8">
		{% include "includes/messages.html" %}

		<h3 class="mb-0 d-lg-none ">{% trans 'courses_recent_activity' %} <a href="{% url 'oppia:recent_activity_detail' course.pk %}" class="btn btn-sm btn-light ml-3">View detail activity</a> </h3>
		<div id="attempts_chart_div" class="graph">{% trans 'graph_generating'%}</div>

		<div class="container">
		{% include "common/form/date-range.html" with dateform=form drop='up' %}
		</div>
	</div>
</div>




{% if leaderboard %}
<h3>{% trans 'home_leaderboard' %}</h3>
{% include "oppia/includes/leaderboard.html" %}
{% endif %}
{% endblock %}