{% include "common/quiz-response-header.html" %}

{% block content %}

<h2><a href="{% url 'oppia_recent_activity' course.id %}">{{ course.title|title_lang:LANGUAGE_CODE }}</a>
&gt; <a href="{% url 'oppia_course_feedback' course.id %}">{% trans 'title_feedback' %}</a>
&gt; {{ quiz.title }} </h2>
<p><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>

{% if page.object_list %}

		<div class="table-responsive">
         <table class="table">
         	 <caption class="d-none">{% trans 'Feedback' %}</caption>
         	 <thead>
                <tr>
                  <th scope="col">{% trans 'table_header_attempt_date' %}</th>
                  <th scope="col">{% trans 'table_header_attempt_name' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for a in page.object_list %}
		<tr id='{{ a.id }}' name="attemptlist" class="hover">
			<td>{{ a.attempt_date }}</td>
			<td>{% if OPPIA_SHOW_GRAVATARS %}
       				{{ a.user|gravatar:24 }}
       			{% endif %}
       			{{ a.user.first_name }}
       			{{ a.user.last_name }}</td>
		</tr>
		<tr id='detail{{ a.id }}'>
			<td colspan="6">
				 <div class="table-responsive">
        			 <table class="table table-striped">
        			     <caption class="d-none">{% trans 'Feedback detail' %}</caption>
			         	 <thead>
			                <tr>
			                  <th scope="col">{% trans 'Question' %}</th>
			                  <th scope="col">{% trans 'Response' %}</th>

			                </tr>
			              </thead>
			              <tbody>
				{% for r in a.responses %}
					<tr>
						<td>{{ r.question.title }}</td>
						<td>{{ r.text }}</td>
					</tr>
			{% endfor %}
			</tbody>
 		</table>
			</td>
		</tr>
	{% endfor %}
			</tbody>
 		</table>
	</div>
	{% include "common/pagination.html" %}
{% else %}
	<p>{% trans 'No attempts yet' %}</p>
{% endif %}


{% endblock content %}