{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Courses' %}
{% endblock extra_head_title %}


{% block header %}
<div class="jumbotron mb-3">
	<h3>{% trans 'Courses' %}</h3>
</div>
{% endblock header %}

{% block content %}

<div class="form-row align-items-center">
{% if tag_list %}
	<div class="col-auto mr-3 py-2">
	<form method="post" class="inline-form">
    <em class="fas fa-tags mr-1 text-primary"></em> {% trans 'Filter by tag: ' %}
	<select class="form-control" name="tag" id="course-tag-filter">
		<option value="{% url 'oppia:course' %}">{% trans 'All courses' %}</option>
		{% for tag in tag_list %}
		 		<option value="{% url 'oppia:tag_courses' tag.id %}" {% if current_tag|slugify == tag.id|slugify %}selected="selected"{% endif %}>
		 			{{ tag.name }}
		 		</option>
		{% endfor %}
	</select>
	</form>
	</div>
{% endif %}
	<div class="col-auto">
    <form method="get">
	<em class="fas fa-eye mr-1 text-primary"></em> </span> {% trans 'Filter by visibility: ' %}
	<select class="form-control" name="visibility" id="course-visibility-filter">
        <option value="">{% trans 'All' %}</option>
        <option value="draft" {% ifequal course_filter "draft" %} selected="selected"{% endifequal %}>{% trans 'Draft' %}</option>
		<option value="archived" {% ifequal course_filter "archived" %} selected="selected"{% endifequal %}>{% trans 'Archived' %}</option>
	</select>
	</form>
	</div>
</div>

{% if page.object_list %}

	 <div class="table-responsive">
         <table class="table table-striped-expandable">
             <caption class="d-none">{% trans 'Courses' %}</caption>
         	 <thead>
                <tr>
                  <th scope="col">{% trans 'Course' %}</th>
                  <th scope="col">{% trans 'Last updated' %}</th>
                  <th scope="col">{% trans 'Downloads' %}</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
	{% for course in page.object_list %}
		<tr>
				<td>
					{% if course.access_detail %}
						<a href="{% url 'oppia:recent_activity' course.id %}"><strong>{{ course.title|title_lang:LANGUAGE_CODE }}</strong></a>
					{% else %}
						<strong>{{ course.title|title_lang:LANGUAGE_CODE }}</strong>
					{% endif %}	
				{% if course.is_draft %}
					<span class="badge badge-dark ml-2">{% trans 'draft' %}</span>
				{% endif %}	
				{% if course.is_archived %}
					<span class="badge badge-dark ml-2">{% trans 'archived' %}</span>
				{% endif %}<br/>
				<small>{% trans 'Tags:' %} {{ course.get_tags }}</small></td>
				<td>{{ course.lastupdated_date }} </td>
				<td>{{ course.total_downloads|default:0 }} downloads by {{ course.distinct_downloads|default:0 }} users<br/>
					<a href="{% url 'oppia:course_download' course.id %}">{% trans 'download course' %}</a>
				</td>
                <td class="py-1">
                    {% if course.can_edit %}
                    	<a href="{% url 'oppia:course_edit' course.id %}" data-toggle="tooltip" title="{% trans 'Edit' %}" class="btn btn-inline btn-outline-primary"><em class="fas fa-2x fa-edit"></em> </a>
                    	<a href="{% url 'oppia_gamification_edit_course' course.id %}" data-toggle="tooltip" title="{% trans 'Edit Gamification' %}" class="btn btn-inline btn-outline-primary"><em class="fas fa-2x fa-gamepad"></em></a>
					{% endif %}
                </td>
			</tr>
	{% endfor %}
			</tbody>
 		</table>
	</div>
    {% include "common/pagination.html" %}
{% else %}
	{% url 'oppia:upload' as url_upload %}
	{% blocktrans %}
		<p>You don't yet have any courses uploaded, why not <a href="{{ url_upload }}">upload one now</a>?</p>
	{% endblocktrans %}
{% endif %}

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript">
        $(function(){
            $('#course-tag-filter').on('change', function(){
                var tagURL = $(this).val();
                if (tagURL && tagURL!="") top.location.href = tagURL;
                return true;
            });

            $('#course-visibility-filter').on('change', function(){
                $(this).parent().submit();
            })
        });
    </script>
{% endblock %}