{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Courses' %}
{% endblock extra_head_title %}


{% block header %}
<div class="jumbotron mb-3">
	<h3>{% trans 'Courses' %}</h3>
</div>
{% endblock header %}

{% block content %}

<div class="form-row align-items-center">
{% if category_list %}
	<div class="col-auto mr-3 py-2">
	<form method="post" class="inline-form">
    <em class="fas fa-tags mr-1 text-primary"></em> {% trans 'Filter by category: ' %}
	<select class="form-control" name="tag" id="course-tag-filter">
		<option value="{% url 'oppia:course' %}">{% trans 'All courses' %}</option>
		{% for category in category_list %}
		 		<option value="{% url 'oppia:category_courses' category.id %}" {% if current_category|slugify == category.id|slugify %}selected="selected"{% endif %}>
		 			{{ category.name }}
		 		</option>
		{% endfor %}
	</select>
	</form>
	</div>
{% endif %}
	<div class="col-auto">
    <form method="get">
	<em class="fas fa-eye mr-1 text-primary"></em> </span> {% trans 'Filter by status: ' %}
	<select class="form-control" name="status" id="course-status-filter">
        <option value="">{% trans 'All' %}</option>
        <option value="live" {% if course_filter == "live" %} selected="selected"{% endif %}>{% trans 'Live' %}</option>
        <option value="draft" {% if course_filter == "draft" %} selected="selected"{% endif %}>{% trans 'Draft' %}</option>
		<option value="archived" {% if course_filter == "archived" %} selected="selected"{% endif %}>{% trans 'Archived' %}</option>
		<option value="new_downloads_disabled" {% if course_filter == "new_downloads_disabled" %} selected="selected"{% endif %}>{% trans 'New downloads disabled' %}</option>
		<option value="read_only" {% if course_filter == "read_only" %} selected="selected"{% endif %}>{% trans 'Read only' %}</option>
	</select>
	</form>
	</div>
</div>

{% include 'common/ajax_wrapper.html' with query_template='course/query.html' %}


{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript">
        $(function(){
            $('#course-tag-filter').on('change', function(){
                var tagURL = $(this).val();
                if (tagURL && tagURL!="") top.location.href = tagURL;
                return true;
            });

            $('#course-status-filter').on('change', function(){
                $(this).parent().submit();
            })
        });
    </script>
{% endblock %}