{% include "common/quiz-response-header.html" %}


{% block header %}
<div class="jumbotron mb-4">
	<h3><a href="{% url 'oppia_recent_activity' course.id %}">{{ course.title|title_lang:LANGUAGE_CODE }}</a>
		<em class="material-icons md-18 ">arrow_forward_ios</em> <a href="{% url 'oppia_course_quiz' course.id %}">{% trans 'title_quizzes' %}</a>
		<em class="material-icons md-18 ">arrow_forward_ios</em> {{ quiz.title|title_lang:LANGUAGE_CODE }}
	</h3>
	<p><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>
</div>
{% endblock header %}

{% block content %}

{% if page.object_list %}
	<div class="table-responsive">
         <table class="table">
             <caption class="d-none">{% trans 'Quiz attempts' %}</caption>
         	 <thead>
                <tr>
                  <th scope="col">{% trans 'table_header_attempt_date' %}</th>
                  <th scope="col">{% trans 'table_header_attempt_name' %}</th>
                  <th scope="col">{% trans 'table_header_attempt_score' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for a in page.object_list %}
		<tr id='{{ a.id }}' name="attemptlist" class="hover">
			<td>{{ a.attempt_date }}</td>
			<td>{% if OPPIA_SHOW_GRAVATARS %}
       				{{ a.user|gravatar:24 }}
       			{% endif %}
       			{% if request.user.is_staff %}
					<a href="{% url 'profile_user_activity' a.user.id %}">{{ a.user.first_name }} {{ a.user.last_name }}</a>
				{% else %}
					{{ a.user.first_name }} {{ a.user.last_name }}
				{% endif %}</td>
			<td>{{ a.get_score_percent }}%</td>
		</tr>
		<tr id='detail{{ a.id }}'>
			<td colspan="6">
				 <div class="table-responsive">
        			 <table class="table table-striped">
        			 	 <caption class="d-none">{% trans 'Quiz attempt detail' %}</caption>
			         	 <thead>
			                <tr>
			                  <th scope="col">{% trans 'Question' %}</th>
			                  <th scope="col">{% trans 'Response' %}</th>
			                  <th scope="col">{% trans 'Score' %}</th>
			                </tr>
			              </thead>
			              <tbody>
				{% for r in a.responses %}
					<tr>
						<td>{{ r.question.title|title_lang:LANGUAGE_CODE }}</td>
						<td>{{ r.text }}</td>
						<td>{{ r.get_score_percent }}%</td>
					</tr>
			{% endfor %}
			</tbody>
 		</table>
			</td>
		</tr>
	{% endfor %}
				</tbody>
 		</table>
	</div>
	{% include "common/pagination.html" %}
{% else %}
	<p>{% trans 'No attempts yet' %}</p>
{% endif %}


{% endblock content %}