{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-4">
	<h3><a href="{% url 'oppia_recent_activity' course.id %}">{{ course.title|title_lang:LANGUAGE_CODE }}</a> <em class="material-icons md-18 ">arrow_forward_ios</em> {% trans 'title_quizzes' %}</h3>
	<p><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>
</div>
{% endblock header %}

{% block content %}

<div class="table-responsive">
    <table class="table">
    	 <caption class="d-none">{% trans 'Quizzes' %}</caption>
    	 <thead>
           <tr>
             <th scope="col">{% trans 'table_header_quiz_title' %}</th>
             <th scope="col">{% trans 'table_header_quiz_no_attempts' %}</th>
           </tr>
         </thead>
         <tbody>
	
{% for q in quizzes %}
	<tr id='{{ t.id }}' name="trackerlist" class="hover">
		<td><a href="{% url 'oppia_course_quiz_attempts' course.id q.id%}">{{ q.title|title_lang:LANGUAGE_CODE }} ({{ q.section_name|title_lang:LANGUAGE_CODE }})</a></td>
		<td>{{ q.no_attempts }}</td>		
	</tr>
{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}