{% extends "base-mobile.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% block extra_scripts %}
		<script type="text/javascript">
		function load(url){
			window.location.href = url + "?username={{ user.username }}&api_key={{ user.key }}";
		}
	</script>
{% endblock extra_scripts %}

{% block content %}
<h2>{% trans "Monitor" %}</h2>
{% if cohorts_list %}
	{% for cohort,courses in cohorts_list %}
		<h2>{{ cohort.description }}</h2>
		<p style="text-align:center">{{ cohort.no_student_members }} students</p>
		{% for course in courses %}
			<div class="list clickable" onclick="load('{% url 'oppia_monitor_cohort_progress' cohort.id course.id %}');">
				{{ course.title|title_lang:LANGUAGE_CODE }}
			</div>
		{% endfor %}
	{% endfor %}
{% else %}
	{% blocktrans %}<p>You are not currently teaching on any courses.</p>{% endblocktrans %}
{% endif %}

{% endblock %}