{% extends "base-mobile.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% block extra_scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}oppia/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}oppia/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript">
		function load(url){
			window.location.href = url + "?username={{ user.username }}&api_key={{ user.key }}";
		}
		
		{% for p in participants %}
		 $(function() {
			 $( "#progressbar-{{ p.user.id}}" ).progressbar({
			 value: {{ p.completed}}
			 });
			 });
		 {% endfor %}
	</script>
{% endblock extra_scripts %}
{% block extra_styles %}
 <link href="{{ STATIC_URL }}oppia/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css"/>
{% endblock extra_styles %}  
{% block content %}
<h2>{{ cohort.course.title|title_lang:LANGUAGE_CODE }}<br/>{{ cohort.description }}</h2>

{% if participants %}
<div id="monitormenu">
	<ul>
		<li><a onclick="load('{% url 'oppia_monitor_cohort_progress' cohort.id %}');"> {% trans 'Progress' %}</a></li>
		<li><a onclick="load('{% url 'oppia_monitor_cohort_quizzes' cohort.id %}');">{% trans 'Quizzes' %}</a></li>
		<li><a onclick="load('{% url 'oppia_monitor_cohort_media' cohort.id %}');">{% trans 'Media' %}</a></li>
	</ul>
</div>

{% blocktrans %}<p>Overall progress</p>{% endblocktrans %}
	<div class="listheader">
		<div class="listname">{% trans 'Student' %}</div>
		<div class="listcell">{% trans 'Progress' %}</div>
		<div style='clear:both'></div>
	</div>
	{% for p in participants %}
		<div class="list">
			<div class="listname">{{ p.user.first_name }} {{ p.user.last_name }}</div>
			<!-- div class="listprogress"><div id="progressbar-{{ p.user.id }}"></div></div -->
			<div class="listprogress">
				{% for s in p.sections %}
					{% if s.completed = 100 %}
						<div style="float:left; margin-right:1px; margin-bottom:1px; width:20px; height:20px; background:green" title="{{ s.section.title|title_lang:LANGUAGE_CODE }}"></div>
					{% elif s.completed > 0 %}
						<div style="float:left;  margin-right:1px; margin-bottom:1px; width:20px; height:20px; background:yellow" title="{{ s.section.title|title_lang:LANGUAGE_CODE }}"></div>
					{% elif s.started > 0 %}
						<div style="float:left;  margin-right:1px;margin-bottom:1px; width:20px; height:20px; background:yellow" title="{{ s.section.title|title_lang:LANGUAGE_CODE }}"></div>
					{% else %}
						<div style="float:left;  margin-right:1px; margin-bottom:1px; width:20px; height:20px; background:lightgrey" title="{{ s.section.title|title_lang:LANGUAGE_CODE }}"></div>
					{% endif %}
				{% endfor %}
			</div>
			<div style='clear:both'></div>
		</div>
	{% endfor %}
{% else %}
	{% blocktrans %}<p>There are no students in this cohort.</p>{% endblocktrans %}
{% endif %}

{% endblock %}