{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load settings_value %}
{% load display_functions %}
{% block extra_head_title %}
	{% trans 'Validate Certificate' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-4">
	<h3>{% trans 'Validate Certificate' %}</h3>
</div>
{% endblock header %}


{% block content %}

<h2>{% trans "Certificate is valid" %}</h2>

<p>{% trans "The certificate is valid with the following data:" %}</p>

<ul>
<li>{% trans "Name:" %} {{ award.user.first_name }} {{ award.user.last_name }}</li>
<li>{% trans "Course:" %} {{ course.title | title_lang:LANGUAGE_CODE }}</li>
<li>{% trans "Awarded on:" %} {{ award.award_date }}</li>
</ul>
{% endblock %}