{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-3">
	<h3>{{ title }}</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">

	{% include 'common/ajax_wrapper.html' with query_template='av/query.html' %}

	{% if page.object_list %}
		<div class="table-responsive">
	         <table class="table table-striped">
	         <caption class="d-none">{{ title }}</caption>
				 <thead>
	                <tr>
	                  <th scope="col">{% trans 'Media' %}</th>
	                  <th scope="col">{% trans 'Download' %}</th>
	                </tr>
	              </thead>
	              <tbody>
	              {% for media in page.object_list %}
	              	  {% include 'av/media_row.html' %}
	              {% endfor %}
	              </tbody>
	 		</table>
		</div>
		
		{% include "common/pagination.html" %}
	{% endif %}
</div>
{% endblock %}