{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}


{% block header %}
<div class="jumbotron mb-3">
	<h3><em class="material-icons mr-2">arrow_upward</em>{{ title }}</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% blocktrans with media.file.url as download_media %}
     <p>Your file has been successfully uploaded.</p>
     <p>The media is now available for download at: <a href="{{ download_media }}" target="_blank" rel="noopener">{{ download_media }}</a> </p>
    {% endblocktrans %}

    <h3>{% trans 'Embed code for Moodle' %}</h3>
    <pre>
        <code data-lang="html">{{ embed_code }}</code>
    </pre>

    <a href="{% url 'av:upload' %}" class="btn btn-primary btn btn-default">{% trans 'Upload another media file' %}</a>
</div>
{% endblock %}

