*.pyc
*~
.project
.pydevproject
.scannerwork
.settings/
/build
/dist
/django_oppia.egg-info
/src
/.idea
/.eggs
/.scannerwork
oppiamobile/settings_secret.py
.coverage
/tests/coverage.xml

/sonarcloud.sh
/sonarcloud
/static/css/oppia.css
/pytestdebug.log
/db.sqlite3
