include LICENSE
include README.md
include CONTRIBUTING.md
recursive-include oppia/static *
recursive-include oppia/templates *
recursive-include oppia/templatetags *
recursive-include docs *
recursive-include oppia/locale *
recursive-include oppia/utils *
recursive-include oppia/fixtures *
