django==3.2.14
django-tastypie==0.14.4
django-crispy-forms==1.14.0
pytz
defusedxml==0.7.1
Pillow==9.2.0
sorl-thumbnail==12.8.0
libsass==0.21.0
django-compressor==4.0
django-sass-processor==1.2.1
pycodestyle
pytest
pytest-django
openpyxl==3.0.10
tablib==3.2.1
httpretty==1.1.4
xmltodict==0.13.0
django-ses==3.1.0
reportlab==3.6.11
qrcode==7.3.1
mysqlclient==2.1.1
django-storages==1.12.3
django-database-view==0.3.0

