django==1.11.20
django-tastypie==0.14.0
django-tablib>=0.9.11
django-crispy-forms>=1.7.0
pytz
django-gcm>=1.2.0
defusedxml==0.5.0
Pillow==5.4.1
sorl-thumbnail>=12.4,<13.0
libsass
django-compressor
django-sass-processor