{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Forgotten your password?' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-4"><h3>{% trans 'Forgotten your password?' %}</h3></div>
{% endblock header %}

{% block content %}
  <p>{% trans 'Enter your email address below, and we\'ll email instructions for setting a new one.' %}</p>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% trans 'Reset my password' %}" class='btn btn-default'>
  </form>
{% endblock %}