{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Set a new password' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-4 "><h3>{% trans 'Set a new password' %}</h3></div>
{% endblock header %}

{% block content %}

{% if validlink %}

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="{% trans 'Change my password' %}" class='btn btn-default'>
</form>

{% else %}

<p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>

{% endif %}
{% endblock %}