{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block extra_body %}
		onload="setUpDatePicker();"
{% endblock extra_body %}

{% block extra_head_title %}
	{% trans 'Cohort' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Cohort' %}</h2>



<form id="cohort-form" class="form-horizontal" method="post">

{% crispy form %}

    {% include "oppia/includes/cohort-helper.html" %}

<div class="mt-2">
    <div class="alert alert-warning alert-dismissible fade show" id="empty-alert" role="alert" style="display:none;">
      <strong>Ouch!</strong> You cannot leave empty the courses, teachers or students of a cohort.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <input type="submit" name="submit" value="Save" class="btn btn-primary btn btn-default" id="submit-id-submit">
</div>

</form>

{% endblock %}
{% block extra_scripts %}
    <script src="{% static "oppia/js/oppia.chart-utils.js" %}"></script>
    <script src="{% static "oppia/js/oppia.ajax-utils.js" %}"></script>
    <script type="text/javascript">
    {% include "oppia/includes/init-date-picker-js.html" %}

    $(function() {
        $('.btn-table-toggle').on('click', function(){
            var target = $(this).hide().attr('data-show');
            $(target).show();
        });
        $('.selectable-group').each(applySelectableBehaviour);
        $('#cohort-form').on('submit', function(e){

            var teachersList = getSelectableItemsSelected($('#selected-teachers'));
            var studentsList = getSelectableItemsSelected($('#selected-students'));
            var coursesList = getSelectableItemsSelected($('#selected-courses'));

            if (teachersList.length <= 0 || studentsList.length <= 0 || coursesList.length <= 0){
                $('#empty-alert').fadeIn();
                e.preventDefault();
                return false;
            }

            $('[name="teachers"]').val(teachersList.join(','));
            $('[name="students"]').val(studentsList.join(','));
            $('[name="courses"]').val(coursesList.join(','));
        });

    });

    </script>
{% endblock extra_scripts %}