{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load settings_value %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head_title %}
	{% trans 'Home' %}
{% endblock extra_head_title %}

{% block header %}
{% if user.is_authenticated %}
<div class="jumbotron mb-4 ">
	<div class="row">
		<div class="col-md-5"><h3>{% trans 'courses_recent_activity' %}</h3></div>
		<div class="col-md-7">{% include "common/form/date-range.html" with dateform=form %}</div>
	</div>


</div>
{% endif %}
{% endblock header %}

{% block content %}

{% if user.is_authenticated %}
	<div>
		{% include "oppia/includes/activity-graph.html" %}	
	</div>
	{% include "includes/messages.html" %}	

	<h3 class="mt-3">{% trans 'home_leaderboard' %}<a class="btn btn-primary" style="margin-left:20px;" href="{% url 'oppia_gamification_leaderboard_export_server' %}" download="leaderboard.json">{% trans 'Export' %}</a></h3>
	{% include "oppia/includes/leaderboard.html" %}
	<div><a href="{% url 'oppia:leaderboard' %}">{% trans "more..." %}</a></div>
{% else %}
    {% static "oppia/images/dc-logo-150x150.png" as oppia_logo %}

	{% settings_value 'OPPIA_ANDROID_PACKAGEID' as package_id %}
	{% blocktrans %}
	<div class="text-center mt-3 mx-auto" style="max-width:350px;">
		<img src="{{ oppia_logo }}" class="mb-2" alt="OppiaMobile logo"/>

		<p><a href="https://digital-campus.org/oppiamobile/">OppiaMobile</a> is the mobile learning platform from <a href="https://digital-campus.org">Digital Campus</a> to deliver learning content, multimedia and quizzes on your smartphone. All the content and activities can
	be accessed and used even when you don't have an internet connection available on your mobile.</p>

		<a class="btn-primary btn btn-default" href="https://play.google.com/store/apps/details?id={{package_id}}">Download OppiaMobile app</a>

	</div>
	{% endblocktrans %}

{% endif %}

{% endblock %}
