{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Cohorts' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Cohorts' %}</h2>

{% if cohorts %}
	<div class="table-responsive">
         <table class="table table-striped-expandable">
         	<thead>
                <tr>
                  <th>{% trans 'Cohort' %}</th>
                  <th>{% trans 'No Teachers' %}</th>
                  <th>{% trans 'No Students' %}</th>
                  <th>{% trans 'Courses' %}</th>
                  <th>{% trans 'Options' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for cohort in cohorts %}
		<tr>
			<td><a href="{% url 'oppia_cohort_view' cohort.id %}">{{ cohort.description }}</a></td>
			<td>{{ cohort.no_teacher_members }}</td>
			<td>{{ cohort.no_student_members }}</td>
			<td>
			{% for course in cohort.get_courses %}
				<a href="{% url 'oppia_cohort_course_view' cohort.id course.id %}">{{ course.title|title_lang:LANGUAGE_CODE }}</a><br/>
			{% endfor %}
			</td>
			<td>
				<a href="{% url 'oppia_cohort_edit' cohort.id %}" class="btn btn-default btn-primary">{% trans 'Edit' %}</a>
			</td>	
		</tr> 
	{% endfor %}
	</tbody>
 		</table>
	</div>
{% else %}
	<p>{% trans 'No cohorts' %}</p>
	
{% endif %}

<p><a href="{% url 'oppia_cohort_add' %}" class="btn btn-default btn-primary">{% trans 'Add a cohort' %}</a></p>

{% endblock %}