{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Cohorts' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Cohorts' %}</h2>
<p><i>{% trans 'Tags:' %} {{ course.get_tags}}</i></p>

{% if cohorts %}
	<div class="table-responsive">
         <table class="table table-striped-expandable">
         	<thead>
                <tr>
                  <th>{% trans 'Cohort' %}</th>
                  <th>{% trans 'No Teachers' %}</th>
                  <th>{% trans 'No Students' %}</th>
                  <th>{% trans 'Courses' %}</th>
                  <th>{% trans 'Options' %}</th>
                </tr>
              </thead>
              <tbody>
	{% for cohort in cohorts %}
		<tr>
			<td>{{ cohort.description }}</td>
			<td>{{ cohort.no_teacher_members }}</td>
			<td>{{ cohort.no_student_members }}</td>
			<td></td>
			<td>
				<a href="{% url 'oppia.views.cohort_view' cohort.id %}">{% trans 'View activity' %}</a> | 
				<a href="{% url 'oppia.views.cohort_edit' cohort.id %}">{% trans 'Edit' %}</a>
			</td>	
		</tr> 
	{% endfor %}
	</tbody>
 		</table>
	</div>
{% else %}
	<p>{% trans 'No cohorts' %}</p>
	
{% endif %}

<p><a href="{% url 'oppia_cohort_add' %}">{% trans 'Add a cohort' %}</a></p>

{% endblock %}