{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}

{% block content %}

    <div class="container">
		<h2>{{ course.title|title_lang:LANGUAGE_CODE }} - {% trans "Points Updated" %}</h2> 
	    
	    <a href="{% url 'oppia_course' %}" class="btn btn-default btn-primary">{% trans 'Return to Courses list' %}</a>  
	    <a href="{% url 'oppia_gamification_edit_course_points' course.id %}" class="btn btn-default btn-primary">{% trans 'Update Course Points again' %}</a>  
	    <a href="{% url 'oppia_gamification_view_activity_points' course.id %}" class="btn btn-default btn-primary">{% trans 'Update Activity Points' %}</a> 
	</div>
	
{% endblock %}