{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Integrations' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron pb-2 mb-3">
	<h3><a href="{% url 'oppia_integrations_home' %}">{% trans 'Integrations' %}</a> &gt {% trans 'DHIS2' %}</h3>
</div>
{% endblock header %}

{% block content %}

<h3>{% trans 'Exports by month/year' %}</h3>
<ul>
{% for months in monthly_exports %}
	<li><a href="{% url 'oppia_integrations_dhis_export_month' months.year months.month %}">{{ months|date:'F Y' }}</a></li>
{% endfor %}	
</ul>

{% endblock %}