{% load i18n %}
{% load display_functions %}
<!DOCTYPE html>
<html>
<head>
	<title>{% trans 'Exporting Points' %} - {% trans 'app_name' %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
<table>
	<tr>
		<th>{% trans 'Course' %}</th>
		<th>{% trans 'Points' %}</th>
		<th>{% trans 'Date' %}</th>
		<th>{% trans 'Description' %}</th>
		<th>{% trans 'Data' %}</th>
		<th>{% trans 'Type' %}</th>
	</tr>
{% for p in points %}
	<tr>
		<td>{{ p.course.title }}</td>
		<td>{{ p.points }}</td>
		<td>{{ p.date }}</td>
		<td>{{ p.description }}</td>
		<td>{{ p.data }}</td>
		<td>{{ p.type }}</td>
	</tr>
{% endfor %}


</table>


</body>
</html>