@CHARSET "UTF-8";


#mq a:hover {
    color: #77a240;
    text-decoration:underline;
    cursor:pointer;
}
#mq a:visited {
    color: #77a240;
    text-decoration:underline;
    cursor:pointer;
}
#mq a {
    color: #77a240;
    text-decoration:underline;
    cursor:pointer;
}

#mq #loading {
	width:100%;
	text-align:center;
	padding:5px;
	background:	#9aca3c;
	margin-top:20px;
}

#mq .checkbox {
	margin-right:10px;
}

#mq li {
	margin-left:15px;	
}

#mq h2 {
	font-size:110%;
	text-align: center;
	padding:5px;
}

#mq #menu {
	width:100%;
	text-align:center;
	padding:5px 0;
	background: none repeat scroll 0 0 #9ACA3C;
}

#mq #menu a{
	color: #444;	
}

#mq .error {
	color: red;
}

#mq .formlabel, .formfield{
	font-size:110%;
	margin:auto;
	width:90%;
}

#mq .formfield input{
	font-size:130%;
	width:100%;
}

#mq div.ctrl {
	text-align: center;
	margin:10px;
}
#mq .button {
	padding: 10px;
	width: 98%;
	font-size:110%;
}

#mq .navbutton {
	padding: 10px;
	width: 98%;
	font-size:110%;
}

#mq .quizlist {
	padding: 5px;
}
#mq .quizlist:hover {
	background: yellow;
}
#mq .quiztitle {
	color:#77a240;
}

#mq .quizdesc {
	font-style:italic;
	font-size:80%;
}

#mq #quizheader {
	background: #9aca3c;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

#mq #question {
	font-weight: bold;
}

#mq #response{
	padding: 10px 0;
}
#mq .response {
	padding: 5px 0;
}
#mq .mcresponse {
	padding: 5px 10px;
}
#mq .mcresponse:hover {
	background: yellow;
}

#mq .od {
	padding: 5px 10px;
}
#mq .mss {
	float:left;
	width: 15px;
}
#mq .mst {
	margin-left:20px;
}
#mq .od:hover {
	background: yellow;
}

#mq #quiznavprev {
	float:left;
	width:30%;
	text-align:center;
	background: silver;
	margin:5px;
	padding:10px;
	font-weight:bold;
	font-size:120%;
	cursor:pointer;
	-moz-border-radius: 0.5em;
  	border-radius: 0.5em;
}

#mq #quiznavnext {
	float:right;
	width:50%;
	text-align:center;
	background: silver;
	margin:5px;
	padding:10px;
	font-weight:bold;
	font-size:120%;
	cursor:pointer;
	-moz-border-radius: 0.5em;
  	border-radius: 0.5em;
}


#mq #quizresults {
	font-size: 300%;
	text-align: center;
	margin: 20px;
	font-weight:bold;
}

#mq .resultopt {
	margin: 10px;
	color:#77a240;
}

#mq .matchingstate {
	width: auto;
	text-align:left;
	float:left;
}

#mq .matchingopt {
	float:right;
	font-size:120%;
}

#mq .responsefield {
	font-size:130%;
	width:98%;
}

#mq .selected{
	font-weight:bold;
}

#mq label.error{
	color:red;
	font-size:60%;
}

#mq #searchresults, #suggestresults, #localq {
	width:90%;
	margin:10px auto;
}

#mq #results {
	width:100%;
	margin:10px auto;
}

#mq .centre {
	text-align: center;
}

#mq .th {
	font-weight: bold;
	text-align: center;
}

#mq #rank {
	text-align: center;
}

#mq .result {
	padding: 5px;
}
#mq .rest {
	float:left;
	width:50%;
	color:#77a240;
}


#mq .ress {
	float:left;
	width:30%;
	text-align: center;
}

#mq .resr {
	float:left;
	width:20%;
	text-align: center;
}

#mq .result:hover{
	background: yellow;
}

#mq .thrt {
	float:left;
	width:50%;
	text-align: left;
}

#mq .thrs {
	float:left;
	width:30%;
}

#mq .thrr {
	float:left;
	width:20%;
}

#mq #feedback {
	text-align:center;
	min-height:100px;
}
#mq #fbtext {
	text-align:center;
	width:90%;
	margin: 10px auto;
}

#mq #qs {
	min-height:200px;
	padding:10px;
}
#mq #searchform {
	font-size:110%;
	width:90%;
	margin:5px auto;
}
#mq #searchterms {
	width:200px;
	font-size:130%;
}
#mq #searchbtn {
	width:60px;
	font-size:130%;
}

#mq #msg {
	width:90%;
	margin:0 auto;
	text-align:center;
	font-size:80%;
}
#mq .warn {
	color: red;
}

