{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Integrations' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron pb-2 mb-3">
	<h3>{% trans 'Integrations' %}</h3>
</div>
{% endblock header %}

{% block content %}

<h3>DHIS2</h3>
<ul>
	<li><a href="{% url 'integrations:dhis:export_latest' %}">{% trans 'Download most recent export (last month)' %}</a></li>
	<li><a href="{% url 'integrations:dhis:index' %}">{% trans 'View all exports' %}</a></li>
</ul>

<h3>xAPI</h3>
<ul>
	<li><a href="{% url 'integrations:xapi:export' %}">{% trans 'Download most recent export (last 7 days)' %}</a></li>
	<li>{% trans 'View all exports' %} - to be completed</li>
</ul>

{% endblock %}