{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load staticfiles %}

{% block extra_head_title %}
	{% trans 'Export users' %}
{% endblock extra_head_title %}

{% block content %}
<h2>{% trans 'Export users' %}</h2>

    <div class="row export-users-block">
         <div class="col-sm-6">
         <h3>Available users</h3>
             <div id="available-users" class="available-items">
             {% include "oppia/profile/users-paginated-list.html" %}
             </div>
        </div>

        <div class="table-responsive col-sm-6">
        <h3>Selected users</h3>
             <div class="panel panel-default explanation" id="explanation">
                 <div class="panel-heading"></div>
                 <div class="panel-body">
                 Add users from the "Available users" lists by clicking the button with the <em class="glyphicon glyphicon-plus"></em> sign.
                 Then, you'll have to enter the user's password for each of them before downloading the CSV to include in the app.
                 <br/><br/>
                 If you want to remove one selected user, press the button with the <em class="glyphicon glyphicon-remove"></em> sign by its side.
                 </div>
             </div>
             <table class="table table-fixed selected-items-table" id="selected-users-table">
                 <thead>
                    <tr>
                      <th>{% trans 'User' %}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="selected-items" id="selected-users" style="max-height:400px;">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <div class="alert alert-danger alert-dismissible password-alert" role="alert" style="display:none;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>{% trans 'Error' %}!</strong> {% trans 'You must select at least one user and fill the password for each of them' %}
            </div>
            <button class="btn btn-sm btn-primary btn-download"><em class="glyphicon glyphicon-download"></em> {% trans 'Download users CSV' %}</button>

        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static "oppia/js/oppia.chart-utils.js" %}"></script>
    <script src="{% static "oppia/js/oppia.ajax-utils.js" %}"></script>
    <script type="text/javascript">

    $(function(){

        $('.export-users-block').each(applySelectableBehaviour);

        var selectedUsers = $('#selected-users');

        function inputVal($user, field){
            return $user.find('[name="'+field+'"]').val();
        }

        var csvFields = ['username', 'password', 'apikey', 'email', 'first_name', 'last_name'];
        var fieldsLength = csvFields.length;
        $('.btn-download').on('click', function(){
            var usersCSV = "";
            var formValidated = true;

            if (selectedUsers.find('tr').length == 0){
                formValidated = false;
            }

            //Print headers to CSV
            for(var i=0; i<fieldsLength; i++) {
                usersCSV += csvFields[i];
                usersCSV += (i < (fieldsLength - 1)) ? "," : "\n";
            }

            //Print selected users to CSV
            $.each(selectedUsers.find('tr'), function(){
                var user = $(this);
                formValidated &= (inputVal(user,'password') != "");
                for(var i=0; i<fieldsLength; i++) {
                    usersCSV += inputVal(user, csvFields[i]);
                    usersCSV += (i < (fieldsLength - 1)) ? "," : "\n";
                }
            });

            var alert = $('.password-alert');
            if (formValidated){
                alert.hide();
                downloadFile(usersCSV,'oppia_users.csv', 'text/csv');
            }
            else{
                //Show a new alert if there is no visible one
                if (alert.size() == 1)
                    alert.clone().insertBefore(alert).fadeIn();
                else
                    alert.first().hide().fadeIn();
            }
        });
    });
    </script>
{% endblock extra_scripts %}
