{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Profile' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Profile' %}</h2>

{% include "includes/messages.html" %}	

{% crispy form %}

<div style="clear:both"></div>
<h3>{% trans 'Export My Data' %}</h3>

<a href="{% url 'profile_export_mydata' 'activity' %}" class="btn btn-default">Export Course Activity</a>
<a href="{% url 'profile_export_mydata' 'quiz' %}" class="btn btn-default">Export Quiz Attempts</a>
<a href="{% url 'profile_export_mydata' 'points' %}" class="btn btn-default">Export Points</a>
<a href="{% url 'profile_export_mydata' 'badges' %}" class="btn btn-default">Export Badges</a>

{% endblock %}
