{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Search users' %}
{% endblock extra_head_title %}

{% block content %}
    <div class="container">
<h2>{% trans 'Search users' %}</h2>

<div class="search-block">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="headingOne">
          <div class="row">
              <div class="col-sm-3">
                  <form method="get">
              <div class="input-group">

                  <input type="text" name="quicksearch" class="form-control" aria-label="{% trans 'Search' %}" placeholder="{% trans 'Search...' %}">
                  <span class="input-group-btn"><button class="btn" type="submit" ><span class="glyphicon glyphicon-search"></button></span></span>

                </div>
                      </form>
            </div>
              <div class="col-sm-9">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="glyphicon glyphicon-plus-sign"></span> advanced search </a>
              </div>
          </div>

    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body row">
            {% crispy search_form %}
      </div>
    </div>
        </form>
  </div>

</div>

{% include "oppia/profile/users_paginated_list.html" %}
</div>
</div>
{% endblock content %}

{% block extra_scripts %}
	<script type="text/javascript">
        {% include "oppia/includes/init-date-picker-js.html" %}
        $(setUpDatePicker);
    </script>
{% endblock extra_scripts %}