{% load i18n %}
{% load display_functions %}

<div class="table-responsive">
<table class="table table-fixed table-striped" style="margin-bottom:0;">
     <thead>
        <tr>
        {% if users_list_template %}
            {% with "oppia/profile/list/header-user-"|add:users_list_template|add:".html" as header_template_path %}
                {% include header_template_path %}
            {% endwith %}
        {% else %}
            {% include 'oppia/profile/list/header-user-default.html' %}
        {% endif %}
        </tr>
      </thead>
      <tbody {% if users_list_template %} id="{{ users_list_template }}" {% endif %}>

    {% if users_list_template %}
        {% with "oppia/profile/list/row-user-"|add:users_list_template|add:".html" as row_template_path %}
            {% for user in page.object_list.users %}
                {% include row_template_path %}
            {% endfor %}
        {% endwith %}
    {% else %}
        {% for user in page.object_list %}
            {% include 'oppia/profile/list/row-user-default.html' %}
        {% endfor %}

    {% endif %}

    </tbody>
</table>
</div>

{% include "oppia/includes/pagination.html" %}