{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}

{% load crispy_forms_tags %}

{% block header %}
<div class="jumbotron mb-3">
	<h3><em class="material-icons mr-2">arrow_upward</em> {{ title }}</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
    	<div class="col-md-11">{% include "includes/messages.html" %}</div>
    </div>
	{% crispy form %}
</div>
{% endblock %}