{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}


{% block object-tools %}
    <ul class="object-tools">
      {% block object-tools-items %}
        {% change_list_object_tools %}
      {% endblock %}
    </ul>
   
	<p>{% blocktrans %}
	For updating/refreshing criteria based cohorts, running "Update" will only add users who now match the criteria, no
	users will be removed. Running "Refresh" will remove any users who no longer match the criteria. This distinction 
	is important if you have manually added users to a criteria-based cohort.
	{% endblocktrans %}</p>
{% endblock %}
  