{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Cohorts' %}
{% endblock extra_head_title %}


{% block header %}
<div class="jumbotron mb-3">
	<div class="row">
		<div class="col-sm-6">
			<h3>{% trans 'Cohorts' %}</h3>
		</div>
		<div class="col-sm-6 text-right">
			<a href="{% url 'oppia:cohort_add' %}" class="btn btn-sm btn-secondary">
				<span class="material-icons mr-2">add</span>
				{% trans 'Add a cohort' %}
			</a>
		</div>
	</div>

</div>
{% endblock header %}

{% block content %}

{% include 'common/ajax_wrapper.html' with query_template='cohort/query.html' %}

{% endblock %}