{% load i18n %}
{% load display_functions %}

<tr id="{{ user.username }}" class="link-row" data-href="{% url 'profile:user_activity' user.id %}">
    <td><code>{{user.username}}</code></td>
    <td>{% if OPPIA_SHOW_GRAVATARS %} {{ user|gravatar:24 }} {% endif %}
        {{ user.first_name }} {{ user.last_name }}
    </td>
    <td>{{ user.date_joined|date:"d/m/Y" }}</td>
    <td class="text-right">
        {{ user.last_login|date:"d/m/Y" }}
    </td>
    <td class="text-right">
         <a href="{% url 'profile:edit_user' user.id %}">{% trans 'Edit Profile' %}</a>
         |
         <a href="{% url 'profile:user_regenerate_certificates' user.id %}">{% trans 'Regenerate Certificiates' %}</a>
    </td>
    
</tr>