{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}


{% block header %}
<div class="jumbotron pb-5 mb-0">
	<div class="row">
		<div class="col-lg-6">
			<h3><a href="{% url 'oppia:recent_activity' course.id %}">{{ course.title|title_lang:LANGUAGE_CODE }}</a>
				<em class="material-icons md-18 ">arrow_forward_ios</em>  {% trans 'Gamification' %}
			</h3>
			<p>{% if course.is_draft %}
				<span class="badge badge-dark ml-2"><small>{% trans 'draft' %}</small></span>
			{% endif %}
			{% if course.is_archived %}
				<span class="badge badge-dark ml-2"><small>{% trans 'archived' %}</small></span>
			{% endif %}
				<em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>
		</div>
		<div class="col-lg-3">
			<h5 class="mb-0 badge badge-info">Legend</h5><br>
			<em class="fas lead mr-2 fa-globe-africa text-info" ></em> Global settings<br>
			<em class="fas lead mr-2 fa-cog text-info"></em> Custom points <br>
            <em class="fas lead mr-2 fa-level-down-alt text-info" ></em> Inherited from course <br>

		</div>
		<div class="col-lg-3 text-right">
			<a href="#" class="btn btn-secondary mr-2 mb-3" id="collapse-all" style="display:none;"><span class="material-icons mr-2">unfold_less</span> {% trans 'Collapse all' %}</a>
			<a href="#" class="btn btn-secondary mr-2 mb-3" id="unfold-all"><span class="material-icons mr-2">unfold_more</span> {% trans 'Unfold all' %}</a>
		</div>
	</div>
</div>

{% endblock header %}


{% block content %}

<div class="row">
	<div class="col-md-12">{% include "includes/messages.html" %}</div>
</div>

<div class="card mx-3" style="margin-top:-2rem;">

	<div class="card-header bg-light-3 d-flex justify-content-between">
		<div>
			<h5 class="mb-0">Course global settings</h5>
			<span class="text-black-50"> {{default_points.course|length}} settings </span>
		</div>

		<a class="btn btn-inline btn-outline-dark collapsed" aria-expanded="false" data-toggle="collapse" href="#global-settings">
			<span class="material-icons unfold-less">unfold_less</span>
			<span class="material-icons unfold-more">unfold_more</span>
		</a>
	</div>

	<div class="collapse gamification-config course-section" id="global-settings">
		<div class="card">
			<div class="card-body">

		<div class="row">
		{% for events in default_points.course|split_half %}
			<div class="col-md-6">
			<table class="table-sm table-borderless gamification-points">
				<caption class="d-none">{% trans 'Course default points' %}</caption>
				<th scope="col" class="d-none"></th>
				<th scope="col" class="d-none"></th>
				<th scope="col" class="d-none"></th>
				{% for event in events %}
					{% if not event.event in course.events %}
						{% include 'gamification/points_row.html' with event=event.event points=event.points level='global' id=course.id %}
					{% else %}
						{% with course_event=course.events|lookup:event.event %}
							{% include 'gamification/points_row.html' with event=event.event points=course_event level='custom' id=course.id %}
						{% endwith %}
					{% endif %}
				{% endfor %}
			</table>
				</div>
		{% endfor %}
		</div>
				<a class="ml-2 btn btn-light collapsed" aria-expanded="false" data-toggle="collapse" href="#custom-course"><em class="fas fa-pen mr-2"></em> Edit settings</a>
				<div class="custom-gamification pt-2 collapse" data-type="course" id="custom-course"></div>
			</div>
			</div>
	</div>


	<div class="list-group">
		<div class="list-group-item list-group-item-action bg-light-1">
			<h6>Topics</h6>
		</div>

		{% regroup activities by section as section_list %}

		{% for section in section_list %}

		<div class="list-group-item d-flex justify-content-between bg-light">
			<div>
				<h6 class="mb-0">{{forloop.counter0|add:1}}. {{section.grouper}}</h6>
				<span class="text-black-50"> {{section.list|length}} activities </span>
			</div>

			<a class="btn btn-inline btn-outline-dark collapsed" aria-expanded="false" data-toggle="collapse" href="#section{{forloop.counter0}}">
				<span class="material-icons unfold-less">unfold_less</span>
				<span class="material-icons unfold-more">unfold_more</span>
			</a>
		</div>

		<div class="collapse course-section" id="section{{forloop.counter0}}">
		<div class="table-responsive">
		 <table class="table table-striped-expandable mb-0">
		 	<caption class="d-none">{% trans "Sections" %}</caption>
		 	<th scope="col" class="d-none"></th>
		 	<th scope="col" class="d-none"></th>
			{% for activity in section.list %}
				 <tr class="gamification-config">
					 <td  style="width:50%;">
						 {{activity}}
						 <a href="#!" class="ml-2" data-toggle="tooltip" title="Edit"><em data-toggle="collapse" href="#custom{{activity.pk}}" class="fas fa-pen"></em></a>
	
						 <div class="custom-gamification collapse pt-2" data-type="activity" id="custom{{activity.pk}}">
	
						 </div>
	
					 </td>
					 <td>
						 <table class="table-sm table-borderless gamification-points">
						 	<caption class="d-none">{% trans "Activities" %}</caption>
						 	<th scope="col" class="d-none"></th>
						 	<th scope="col" class="d-none"></th>
						 	<th scope="col" class="d-none"></th>
							{% if activity.type == 'quiz' %}
				
								{% for event in default_points.quiz %}
									{% if not event.event in activity.events %}
										{% if event.event in course.events %}
											{% with course_event=course.events|lookup:event.event %}
									 			{% include 'gamification/points_row.html' with event=event.event points=course_event level='course' id=activity.id %}
											{% endwith %}
										{% else %}
										 	{% include 'gamification/points_row.html' with event=event.event points=event.points level='global' id=activity.id %}
										{% endif %}
									{% endif %}
								{% endfor %}
							{% else %}
								{% for event in default_points.activity %}
									{% if not event.event in activity.events %}
										{% if event.event in course.events %}
											{% with course_event=course.events|lookup:event.event %}
												{% include 'gamification/points_row.html' with event=event.event points=course_event level='course' id=activity.id %}
											{% endwith %}
										{% else %}
											{% include 'gamification/points_row.html' with event=event.event points=event.points level='global' id=activity.id %}
										{% endif %}
									{% endif %}
								{% endfor %}
				
							{% endif %}
	
							{% if activity.events %}
								{% for event,points in activity.events.items %}
									{% include 'gamification/points_row.html' with event=event points=points level='custom' id=activity.id %}
				
								{% endfor %}
							{% endif %}
							 </table>
				</td>
					 </tr>
	
			{% endfor %}
		 </table>
			</div>
	</div>

		{% endfor %}

		</div>


		{% if media %}
		<div class="list-group-item d-flex justify-content-between bg-light-1">
			<div>
				<h6 class="mb-0">Media elements</h6>
				<span class="text-black-50"> {{media|length}} elements </span>
			</div>

			<a class="btn btn-inline btn-outline-dark collapsed" aria-expanded="false" data-toggle="collapse" href="#media-elements">
				<span class="material-icons unfold-less">unfold_less</span>
				<span class="material-icons unfold-more">unfold_more</span>
			</a>
		</div>

		<div class="collapse course-section" id="media-elements">


	<div class="table-responsive">
		 <table class="table table-striped-expandable">
		 	<caption class="d-none">{% trans "Media" %}</caption>
		 	<th scope="col" class="d-none"></th>
		 	<th scope="col" class="d-none"></th>
			{% for m in media %}
				 <tr class="gamification-config">
					 <td style="min-width:50%;">
						 {{m}}
						 <a href="#!" class="ml-2" data-toggle="tooltip" title="Edit"><em data-toggle="collapse" href="#custom-m-{{m.pk}}" class="fas fa-pen"></em></a>
					 	<div class="custom-gamification collapse pt-2" data-type="media" id="custom-m-{{m.pk}}"></div>
					 </td>
					 <td>
						 <table class="table-sm table-borderless gamification-points">
							<caption class="d-none">{% trans "Media points" %}</caption>
						 	<th scope="col" class="d-none"></th>
						 	<th scope="col" class="d-none"></th>
						 	<th scope="col" class="d-none"></th>
							{% for event in default_points.media %}
								{% if not event.event in m.events %}
									{% if event.event in course.events %}
										{% with course_event=course.events|lookup:event.event %}
											{% include 'gamification/points_row.html' with event=event.event points=course_event level='course' id=m.id %}
										{% endwith %}
									{% else %}
										{% include 'gamification/points_row.html' with event=event.event points=event.points level='global' id=m.id%}
									{% endif %}
								{% endif %}
							{% endfor %}
	
							{% if m.events %}
								{% for event,points in m.events.items %}
									{% include 'gamification/points_row.html' with event=event points=points level='custom' id=m.id %}
								{% endfor %}
							{% endif %}
			 			</table>
					</td>
				 </tr>
		{% endfor %}
		 </table>
	</div>
				</div>
		{% endif %}



<div class="gamification-input" style="display:none;">
	<div class="form-row">
		<div class="col"><code class="event">activity_completed</code></div>
		<div class="col"><input type="number" class="form-control" /></div>
		<div class="col pl-0">
			<button class="btn btn-primary btn-inline" data-action="add"><em class="fas fa-check"></em> </button>
			<button class="btn btn-dark btn-inline" data-action="remove"><em class="fas fa-trash"></em> </button>
		</div>

	</div>
</div>

	</div>

<form method='POST' id="gamification-events-form" data-prefix="{{events_formset.prefix}}">
	{% csrf_token %}
	{{ events_formset.management_form }}

	 <div id="empty-form" style="display:none">
		 <table class="no_error">
		 	 <caption class="d-none">{% trans "Events form" %}</caption>
		 	 <th scope="col" class="d-none"></th>
			 {{ events_formset.empty_form.as_p }}
		 </table>
	 </div>

	<div class="values" style="display:none;"></div>
	<div class="text-center mt-3">
	  <button type="submit" class="btn btn-lg btn-primary mt-3" name='sampleform'>Save settings</button>
	</div>
 </form>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function(){
	var close = $('#collapse-all');
	var open = $('#unfold-all');
	close.on('click', function(){ $('.course-section').collapse('hide'); open.show(); close.hide(); });
	open.on('click', function(){ $('.course-section').collapse('show'); close.show(); open.hide(); });

	var gamifInput = $('.gamification-input');

	$('.gamification-config [data-toggle="collapse"]').on('click', function(){

		if (!$(this).hasClass('custom')){
			var config = $(this).parents('.gamification-config');
			var custom = config.find('.custom-gamification');
			var points = config.find('.gamification-points .gamification-config-points');
			var type = custom.attr('data-type');

			$.each(points, function(i, elem){
				var event = $(elem);
				var eventName = event.attr('data-event')
				var input = gamifInput.clone().find('.event').text(eventName).end().appendTo(custom).show();
				console.log(event.attr('data-custom'));
				var point = input.find('input').val(event.attr('data-points'));
				var removeBtn = input.find('button[data-action="remove"]');
				removeBtn.toggle(event.attr('data-custom') !== undefined );

				input.find('button[data-action="add"]').on('click', function(){
					var newPoints = $('<span>'+point.val()+'</span>')
							.addClass('points-pill custom')
							.attr('data-event', eventName)
							.attr('data-pk', event.attr('data-pk'))
							.attr('data-type', type);
					event.find('.points-pill.custom').parent('td').remove()
					event.append($('<td>').append(newPoints));
					removeBtn.show();
				});

				removeBtn.on('click', function(){
					event.find('.points-pill.custom').parent('td').remove();

					if (event.attr('data-custom') !== undefined){
						var newPoints = $('<span><em class="fas fa-times"></em></span>')
							.addClass('points-pill custom delete')
							.attr('data-event', eventName)
							.attr('data-pk', event.attr('data-pk'))
							.attr('data-type', type);
						event.append($('<td>').append(newPoints));
					}
					else{
						removeBtn.hide();
					}
				});
			});
			$(this).addClass('custom');
		}
	});

	var form = $('#gamification-events-form');
	var prefix = form.attr('data-prefix');
	var formValues = form.find('.values');
	var emptyForm = $('#empty-form');
	var totalForms = $('#id_'+prefix+'-TOTAL_FORMS');

	form.on('submit', function(e) {

		$('.points-pill.custom').each(function(i, elem){
			var event = $(elem);
			eventInput = $( emptyForm.html().replace(/__prefix__/g, i));
			eventInput
				.find('[name$="points"]').val(event.hasClass('delete') ? 0 : event.text()).end()
				.find('[name$="event"]').val(event.attr('data-event')).end()
				.find('[name$="level"]').val(event.attr('data-type')).end()
				.find('[name$="reference"]').val(event.attr('data-pk')).end()
				.find('[name$="DELETE"]').prop('checked', event.hasClass('delete')).end();

			formValues.append(eventInput);
			totalForms.val(i+1);
		});
	 });

});
</script>
{% endblock extra_scripts %}