<tr class="gamification-config-points" data-pk="{{id}}" data-event="{{event}}" data-points="{{points}}" {% if level == 'custom' %} data-custom="yes" {% endif %}>
    <td class="px-2"><code>{{event}}</code></td>
    <td class="px-2"><span class="points-pill">{{points}}</span> </td>
    <td class="px-2">
        {% if level == 'custom' %}
             <i class="fas fa-2x fa-cog" data-toggle="tooltip" title="Custom points" data-placement="right"></i>
        {% endif %}

        {% if level == 'course' %}
            <i class="fas fa-2x fa-level-down-alt" data-toggle="tooltip" title="Inherited from course" data-placement="right"></i>
        {% endif %}

        {% if level == 'global' %}
        <i class="fas fa-2x fa-globe-africa" data-toggle="tooltip" title="Global settings" data-placement="right"></i>

        {% endif %}
        </td>
</tr>