// Custom.scss
// Option A: Include all of Bootstrap

// Oppia colors
$oppia-lighter: #c1e552;
$oppia-light: #9aca3c;
$oppia-mid: #689e3a;
$oppia-dark: #628817;

$navbar-dark-color:         #fff;


$font-family-brand: 'Lato', sans-serif;
$font-family-emphasis: 'Montserrat', sans-serif;

$theme-colors: (
  "primary": $oppia-mid
);

$navbar-dark-toggler-border-color:transparent;

$card-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0, 45, 0, 0.2);

@import "./bootstrap/bootstrap";

body {
  min-height: 100vh;
}
.flex-grow {
   flex: 1;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

// Import all Bootstrap extensions
@import './components/type';
@import './components/buttons';
@import './components/charts';
@import './components/tables';