{% load i18n %}
{% if participants.has_previous or participants.has_next %}
	<div class="page-nav">
		{% if participants.has_previous %}
	        <a href="?page={{ participants.previous_page_number }}&username={{ user.username }}&api_key={{ user.key }}">&lt;&lt; {% trans 'previous' %}</a>
	    {% endif %}
	
		
	    <span class="current">
	        {% blocktrans with i=participants.number x=participants.paginator.num_pages %}Page {{ i }} of {{ x }}{% endblocktrans %}
	    </span>
	
	    {% if participants.has_next %}
	        <a href="?page={{ participants.next_page_number }}&username={{ user.username }}&api_key={{ user.key }}">{% trans 'next' %} &gt;&gt;</a>
	    {% endif %}
	</div>
{% endif %}