{% load i18n %}
{% if not omit_form_tag %}
    <form method="{{ dateform.form_method|default:'post' }}">
    {% if dateform.form_method != 'get' %}
        {% csrf_token %}
    {% endif %}
{% endif %}

<div class="date-picker-selector" data-drop="{{ drop|default:'down' }}">
    <div class="d-{% if dateform.interval %}inline-{% endif %}flex flex-row" data-type="range">
        <div class="hidden">
        {{ dateform.start_date }}
        {{ dateform.end_date }}
        </div>

        <div class="form-group w-100">
            <label>Date range</label>
            <div class="input-group ">
          <input class="form-control daterange" type="text" placeholder="From -- To...">
            {% if dateform.interval %}
              <span class="input-group-btn">
                <button class="btn btn-flat narrow" type="button"><em class="material-icons">event</em></button>
              </span>
            {% endif %}
        </div>
        </div>
        {% if dateform.interval %}
        <div class="form-group w-50">
                {% include "common/form/select.html" with field=dateform.interval not_floating=True %}
        </div>
        {% endif %}

        {% if not omit_form_tag %}
            <input type="submit" class="btn btn-primary align-self-center ml-3" id="submit-id-submit" value="{% trans 'Submit' %}">
        {% endif %}

    </div>
</div>
{% if not omit_form_tag %}</form>{% endif %}