<div class="form-group {{wrapper_class}}">
{% if not_floating %}
    <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %} <span class="text-primary lead">*{% endif %}</span></label>
    <input type="{{ field.field.widget.input_type }}" name="{{field.html_name}}" value="{{ field.value|default_if_none:'' }}" id="{{field.auto_id}}" class="form-control {{field.field.widget.attrs.class}}">
{% else %}
    <div class="floating-label {% if field.value %} has-value {% endif %}">
        <label for="{{field.id_for_label}}">{{ field.label }} {% if field.field.required %} <span class="text-primary lead">*</span>{% endif %}</label>
        <input type="{{ field.field.widget.input_type }}" name="{{field.html_name}}" value="{{ field.value|default_if_none:'' }}" id="{{field.auto_id}}" class="form-control {{field.field.widget.attrs.class}}">
      </div>
{% endif %}

    {% if field.errors %}
    <div class="d-block invalid-feedback form-errors">
        {% for error in field.errors %} {{error}}<br> {%endfor%}
    </div>
    {% endif %}

    {% if field.help_text%}
      <small class="text-muted mt-2 d-block">{{ field.help_text|safe  }}</small>
    {% endif %}

</div>