{% extends "base-mobile.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% block content %}
<h2>Your scorecard</h2>

<p>Your activity for the last 2 weeks</p>

<div class="kpiheader">
	<div class="kpititle">&nbsp;</div>
	<div class="kpivalue">No.</div>
	<div class="kpivalue">Time spent</div>
	<div class="kpivalue">Points scored</div>
	<div style="clear:both;"></div>
</div>
<div class="kpi">
	<div class="kpititle">Activities</div>
	<div class="kpivalue">{{ scorecard.acts.views }}</div>
	<div class="kpivalue">{{ scorecard.acts.secs|secs_to_duration }}</div>
	<div class="kpivalue">{{ scorecard.acts.points }}</div>
	<div style="clear:both;"></div>
</div>
<div class="kpi">
	<div class="kpititle">Quizzes</div>
	<div class="kpivalue">{{ scorecard.quiz.views }}</div>
	<div class="kpivalue">{{ scorecard.quiz.secs|secs_to_duration }}</div>
	<div class="kpivalue">{{ scorecard.quiz.points }}</div>
	<div style="clear:both;"></div>
</div>
<div class="kpi">
	<div class="kpititle">Video</div>
	<div class="kpivalue">{{ scorecard.media.views }}</div>
	<div class="kpivalue">{{ scorecard.media.secs|secs_to_duration }}</div>
	<div class="kpivalue">{{ scorecard.media.points }}</div>
	<div style="clear:both;"></div>
</div>

<div class="kpi">
	<div class="kpititle">Total</div>
	<div class="kpivalue">{{ scorecard.total.views }}</div>
	<div class="kpivalue">{{ scorecard.total.secs|secs_to_duration }}</div>
	<div class="kpivalue">{{ scorecard.total.points }}</div>
	<div style="clear:both;"></div>
</div>

{% endblock %}