{% load i18n %}
{% load display_functions %}

<div class="table-responsive">
<table class="table table-fixed" style="margin-bottom:0;">
         <thead>
            <tr>
              <th class="col-xs-7 col-sm-7 ">{% trans 'User' %}</th>
              <th class="col-xs-3 col-sm-3 ">{% trans 'Registration date' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
{% for user in page.object_list %}
        <tr id="{{ user.username }}">
            <td class="col-xs-7 col-sm-7 ">{% if OPPIA_SHOW_GRAVATARS %} {{ user|gravatar:24 }} {% endif %}
                {{ user.first_name }} {{ user.last_name }}
                <input type="hidden" name="apikey" value="{{ user.apikey }}" />
                <input type="hidden" name="email" value="{{ user.email }}" />
                <input type="hidden" name="username" value="{{ user.username }}" />
                <input type="hidden" name="first_name" value="{{ user.first_name }}" />
                <input type="hidden" name="last_name" value="{{ user.last_name }}" />
                <input type="text" name="password" placeholder="{% trans 'Password' %}" class="password removing" style="display:none;float:right;" />
            </td>
            <td class="col-xs-3 col-sm-3 ">{{ user.date_joined|date:"d/m/Y" }}</td>
            <td class="col-xs-2 col-sm-2 text-right">
                <button class="btn btn-sm btn-primary btn-add"><em class="fas fa-plus"></em><em class="far fa-check-circle hidden"></em></button>
                <button class="btn btn-sm btn-primary btn-remove removing" style="display: none;"><em class="fas fa-minus"></em> </button>
            </td>

        </tr>
{% endfor %}
    </tbody>
</table>
</div>

{% include "oppia/includes/pagination.html" %}