{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load sort_link %}
{% load staticfiles %}

{% block extra_head_title %}
	{{ view_user.first_name }} {{ view_user.last_name }} &gt; {{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}

{% block content %}

<h2><a href="{% url 'profile_user_activity' view_user.id %}">{{ view_user.first_name }} {{ view_user.last_name }}</a> &gt; {{ course.title|title_lang:LANGUAGE_CODE }}</h2>

<div class="row">

<div class="col-md-5 col-lg-4">
    <div class="course-scorecard" data-percent="{{ activities_percent }}" style="visibility: hidden;">
        <div class="piechart" >
            <div class="pie-activity">
                <div class="pie-label">
                    {{ activities_completed }}
                <span>completed</span>
                </div>
                <div class="pie-label">
                    {{ activities_total }}
                <span>total</span>
                </div>
                </div>
        </div>
        <div class="row summary">
            <div class="col-xs-4">{% if pretest_score %} {{ pretest_score|floatformat:0 }}%{% else %}-{% endif %}<span>Pre-test</span></div>
            <div class="col-xs-4 attempted">{{ quizzes_attempted }}<span>Attempted</span></div>
            <div class="col-xs-4 passed"> {{ quizzes_passed }}<span>Passed</span></div>
        </div>
        <h3>{% trans 'Quizzes' %}</h3>
        <div class="quizzes">
            {% for q in quizzes %}
                {% if q.quiz.section.order %}
                <div class="quiz {% if q.no_attempts %}attempted{% endif %} {% if q.passed %}passed{% endif %}"
                    data-toggle="tooltip" title="{{ q.quiz.section.title|title_lang:LANGUAGE_CODE }}" data-placement="bottom">
                {% if q.max_score %}{{ q.max_score|floatformat:0 }}% {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-7 col-lg-8">
<h3>{% trans 'Recent activity' %}</h3>
{% include "oppia/includes/activity-graph.html" %}
</div>
</div>
    <div class="table-responsive">
        <table class="table table-striped sortable">
            <thead>
               <tr>
                 <th>{% sort_link 'quiz_order' 'Quiz' %}</th>
                 <th>{% sort_link 'no_attempts' 'No attempts' %}</th>
                 <th>{% sort_link 'max_score' 'Max Score' %}</th>
                 <th>{% sort_link 'min_score' 'Min Score' %}</th>
                 <th>{% sort_link 'first_score' 'First Score' %}</th>
                 <th>{% sort_link 'latest_score' 'Latest Score' %}</th>
                 <th>{% sort_link 'avg_score' 'Average Score' %}</th>
               </tr>
             </thead>
            <tbody>
            {% for q in quizzes %}
                <tr>
                    <td>{{ q.quiz.title|title_lang:LANGUAGE_CODE }} ({{ q.quiz.section.title|title_lang:LANGUAGE_CODE }})</td>
                    <td>{{ q.no_attempts }}</td>
                    <td>{% if q.max_score %}{{ q.max_score|floatformat:1 }}%{% else %}--{% endif %}</td>
                    <td>{% if q.min_score %}{{ q.min_score|floatformat:1 }}%{% else %}--{% endif %}</td>
                    <td>{% if q.first_score %}{{ q.first_score|floatformat:1 }}%{% else %}--{% endif %}</td>
                    <td>{% if q.latest_score %}{{ q.latest_score|floatformat:1 }}%{% else %}--{% endif %}</td>
                    <td>{% if q.avg_score %}{{ q.avg_score|floatformat:1 }}%{% else %}--{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block extra_styles %}
    <link href="{% static "oppia/circliful/circliful.css" %}" rel="stylesheet"/>
{% endblock extra_styles %}

{% block extra_scripts %}
	<script src="{% static "oppia/circliful/circliful.min.js" %}"></script>
	<script type="text/javascript">
	    $(function(){
            var scorecard = $('.course-scorecard')
            var quizzes = scorecard.find('.quizzes .quiz');
            var size = quizzes.first().width() + 'px';
            quizzes.each(function(){ $(this).tooltip().css({height:size, lineHeight:size}); });
            scorecard.find('.piechart').circliful({ percent: scorecard.data('percent'), foregroundColor:"#77A240", backgroundColor:"#eee", backgroundBorderWidth:14, foregroundBorderWidth:14 });
            scorecard.css('visibility', 'visible');
        });
	</script>
{% endblock extra_scripts %}