{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block extra_body %}
		onload="setUpDatePicker();"
{% endblock extra_body %}

{% block extra_head_title %}
	{% trans 'Cohort' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Cohort' %}</h2>



<form class="form-horizontal" method="post">

{% crispy form %}

    {% include "oppia/includes/cohort-helper.html" %}

<div class="col-lg-offset-2 col-lg-4">
    <input type="submit" name="submit" value="Save" class="btn btn-primary btn btn-default" id="submit-id-submit">
</div>

</form>




{% endblock %}
{% block extra_scripts %}
    <script src="{% static "oppia/js/oppia.chart-utils.js" %}"></script>
    <script src="{% static "oppia/js/oppia.ajax-utils.js" %}"></script>
    <script type="text/javascript">
    {% include "oppia/includes/init-date-picker-js.html" %}

    $(function() {


        $('.btn-table-toggle').on('click', function(){
            var target = $(this).hide().attr('data-show');
            $(target).show();
        });

        function updateUserBtn(container, username_or_btn, enable){
            var btn;
            if (username_or_btn instanceof jQuery)
                btn = username_or_btn;
            else
                btn = container.find('#'+username_or_btn+' .btn-add');
            btn.toggleClass('disabled', enable)
                .find('.glyphicon-ok').toggleClass('hidden', (!enable)).end()
                .find('.glyphicon-plus').toggleClass('hidden', enable).end();
        }

        $('.selectable-group').each(function(){

            var group = $(this);
            var explanation = group.find('.explanation');
            var selectedTable = group.find('.selected-items-table').hide();
            var availableItems = group.find('.available-items');
            var selectedItems = group.find('.selected-items');

            availableItems.on('click', '.btn-add', function(){
                var btn = $(this);
                var itemRow = btn.parents('tr').first();
                if (btn.hasClass('disabled')) return;

                itemRow.clone().attr('data-selectable-id', itemRow.attr('data-selectable-id'))
                    .removeAttr('id')
                    .appendTo(selectedItems)
                    .find('.btn-add').hide().end()
                    .find('.removing').show();

                updateUserBtn(availableItems, btn, true);
                selectedTable.show();
                explanation.hide();
            });

            availableItems.on('click', '.pagination a', function(e){
                e.preventDefault();
                $.get(this.href, function(page){
                    availableItems.html($(page));
                    //Update any user that is already added
                    selectedItems.children().each(function(i, user){
                        var selected = $(user).attr('data-selectable-id');
                        console.log(selected);
                        updateUserBtn(availableItems, selected, true);
                    });
                });
            });

            selectedItems.on('click', '.btn-remove', function(){
                var selectedItem = $(this).parents('tr').first().remove();
                updateUserBtn(availableItems, selectedItem.attr('data-selectable-id'), false);
                if (selectedItems.children().size() == 0){
                    explanation.show();
                    selectedTable.hide();
                }
            });

        });

    });

    </script>
{% endblock extra_scripts %}