{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Home' %}
{% endblock extra_head_title %}

{% if user.is_authenticated %}
	{% block extra_body %}
		onload="setUpDatePicker();"
	{% endblock extra_body %}
{% endif %} 
{% block content %}

{% if user.is_authenticated %}
	<div>
		<h3>{% trans 'courses_recent_activity' %}</h3>
		{% include "oppia/includes/activity-graph.html" %}	
	</div>
	{% include "includes/messages.html" %}	
	{% crispy form %}
	
	<h3>{% trans 'home_leaderboard' %}</h3>
	{% include "oppia/includes/leaderboard.html" %}
	<div><a href="{% url 'oppia_leaderboard' %}">{% trans "more..." %}</a></div>
{% else %}
	{% blocktrans %} 
	<div style="text-align:center; margin-top:20px;">
		<img src="{{ STATIC_URL }}oppia/images/dc-logo-150x150.png" alt="OppiaMobile logo"/>
	</div>
	<div style="max-width:350px; text-align:center; margin: 10px auto ">
	<p><a href="https://digital-campus.org/oppiamobile/overview/">OppiaMobile</a> is the mobile learning platform from <a href="https://digital-campus.org">Digital Campus</a> to deliver learning content, multimedia and quizzes on your smartphone. All the content and activities can
	be accessed and used even when you don't have an internet connection available on your mobile.</p>
	<div class="btn-primary btn btn-default"><a href="https://play.google.com/store/apps/details?id=org.digitalcampus.mobile.learning">Download OppiaMobile app</a></div> 
	</div>
	{% endblocktrans %}

{% endif %} 

{% endblock %}
