{% extends "base.html" %} 
{% load i18n %} 
{% load title_lang %} 
{% block extra_scripts %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type="text/javascript">

	// Load the Visualization API and the piechart package.
	google.load('visualization', '1.0', {'packages':['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(drawChart);
	function drawChart() {

		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Date');
		data.addColumn('number', 'Total');
		{% for c in course_set %}
			data.addColumn('number', '{{ c.title|title_lang:LANGUAGE_CODE }}');
		{% endfor %}
		
		data.addRows( {{ recent_activity|length }} );
		
		{% for date,count in recent_activity %}
			data.setValue({{ forloop.counter0 }},0,'{{ date }}');
			data.setValue({{ forloop.counter0 }},1,{{ count }});
		{% endfor %}
		
		
		{% for c in course_set %}
			{% for date,count in c.activity %}
				data.setValue({{ forloop.counter0 }},{{ forloop.parentloop.counter0}}+2,{{ count }});
			{% endfor %}
		{% endfor %}

        var chart = new google.visualization.LineChart(document.getElementById('activity_chart_div'));
        chart.draw(data, {	width: 800, 
                			height: 400,
                			vAxis: {title: 'Activity',minValue:0},
                			pointSize:3,
                			chartArea:{left:50,top:50,width:"80%",height:"75%"},
                			backgroundColor: 'transparent'});
      }
</script>
{% endblock extra_scripts %} 
{% block content %}

{% blocktrans %} 

<p align="center"><iframe width="400" height="315" src="http://www.youtube.com/embed/wHo5R_RgkG0" frameborder="0" allowfullscreen></iframe></p>

<p align="center">OppiaMobile is a mobile learning platform from <a href="http://digital-campus.org">Digital Campus</a> to deliver learning content, multimedia and quizzes on your smartphone. All the content and activities can
be accessed and used even when you don't have an internet connection available on your mobile.</p>
<p>To get started with our courses, <a href="https://play.google.com/store/apps/details?id=org.digitalcampus.mobile.learning">download the OppiaMobile app</a>. 
Or <a href="http://youtu.be/wHo5R_RgkG0">watch a video</a> of OppiaMobile in action.</p>
{% endblocktrans %}

<h3>{% trans 'courses_recent_activity' %}</h3>
<div id="activity_chart_div" class="graph">{% trans 'graph_generating'%}</div>

{% endblock %}
