{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load staticfiles %}

{% block extra_head_title %}
	{% trans 'Leaderboard' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Leaderboard' %}<a class="btn btn-primary" style="margin-left:20px;" href="{% url 'oppia_gamification_leaderboard_export_server' %}" download="leaderboard.json">{% trans 'Export' %}</a></h2>


{% if page.object_list.count > 0  %}
	{% include "oppia/includes/page_navigator.html" %}
    <div class="table-responsive">
         <table class="table table-striped">
         	 <thead>
                <tr>
                  <th>#</th>
                  <th>{% trans 'User' %}</th>
                  <th>{% trans 'Points' %}</th>
                  <th>{% trans 'Badges' %}</th>
                </tr>
              </thead>
              <tbody>
              
	{% for user in page.object_list %}
			<tr>
				<td>{{ forloop.counter0|get_index:page.start_index }}</td>
				<td>{% if OPPIA_SHOW_GRAVATARS %} {{ user|gravatar:24 }} 
				{% endif %} 
				{% if request.user.is_staff %}
					<a href="{% url 'profile_user_activity' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
				{% else %}
					{{ user.first_name }} {{ user.last_name }}
				{% endif %}
				</td>
				<td><span title="{{ user.total  }} {% trans 'points' %}">
					{{ user.total }}</span></td>
				<td>{% if user.badges > 0 %} <span class="badges"
					title="{{ user.badges }} {% trans 'badges' %}"><img
						src="{% static "oppia/images/badge.png" %}"
						alt="{{ user.badges }} {% trans 'badges' %}" /> x {{ user.badges }}</span> {% endif %}
				</td>
			</tr>
			{% endfor %}
	    	</tbody>
 		</table>
	</div>
	{% include "oppia/includes/page_navigator.html" %}
{% endif %}

{% endblock %}