{% extends "base.html" %}
{% load i18n %}

{% block extra_head_title %}
	{% trans 'Terms' %}
{% endblock extra_head_title %}

{% block content %}
<h2>{% trans 'Terms' %}</h2>

{% blocktrans with settings.SERVER_EMAIL as email %}
<p>OppiaMobile is a work in progress and is provided as-is. Not everything may work 100%, so if you find anything wrong, then <a href="mailto:{{ email }}">please let us know</a>.</p>

<h3>License</h3>
<p>OppiaMobile is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.</p>

<p>OppiaMobile is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>

<p>You should have received a copy of the GNU General Public License
along with OppiaMobile.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>

<p>OppiaMobile server uses <a href="http://getbootstrap.com/">Bootstrap v3</a> which is released under the <a href="http://getbootstrap.com/getting-started/#license-faqs">MIT license and is copyright 2014 Twitter</a>.</p>
{% endblocktrans %}

{% endblock %}
