{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary" role="navigation">
  <a class="navbar-brand" href="{% url 'oppia:index' %}"><img class="mr-2" src="{% static "oppia/images/dc_logo.png" %}" height="24" alt="{% trans 'app_name' %} {% trans 'logo' %}"/>{% trans 'app_name' %}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="main-menu">
	<ul class="navbar-nav ml-auto mt-2 mt-lg-0 ml-4">
        <li class="nav-item"><a class="nav-link" href="{% url 'oppia:course' %}">{% trans 'menu_courses' %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'av:index' %}">{% trans 'Media' %}</a></li>
            {% if user.userprofile.get_can_upload %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="upload-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Upload' %}<strong class="caret"></strong></a>
                    <div class="dropdown-menu" aria-labelledby="upload-menu">
                        <a class="dropdown-item" href="{% url 'oppia:upload' %}">{% trans 'Course' %}</a>
                        <a class="dropdown-item" href="{% url 'av:upload' %}">{% trans 'Media' %}</a>
                        <a class="dropdown-item" href="{% url 'content:media_embed_helper' %}">{% trans 'Media Embed Helper' %}</a>
                        {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url 'activitylog:upload' %}">{% trans 'Activity Log' %}</a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
       {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'oppia:cohorts' %}">{% trans 'Cohorts' %}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'reports:index' %}">{% trans 'Analytics/Reports' %}</a></li>
       {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'My Oppia' %}<strong class="caret"></strong></a>
            <div class="dropdown-menu" aria-labelledby="profile-menu">
                <a class="dropdown-item" href="{% url 'profile:user_activity' user.id %}">{% trans 'Scorecard' %}</a>
                {% if not user.is_staff %}
                <a class="dropdown-item" href="{% url 'profile:points' %}">{% trans 'Points' %}</a>
                <a class="dropdown-item" href="{% url 'profile:badges' %}">{% trans 'Badges' %}</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'profile:edit' %}">{% trans 'Edit Profile' %}</a>
                <a class="dropdown-item" href="{% url 'profile:logout' %}">{% trans 'Logout' %}</a>

            </div>
        </li>
    </ul>
  </div>
</nav>