{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans 'app_name' %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="{{ STATIC_URL }}oppia/style-mobile.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}oppia/images/favicon.ico"/>	
    {% block extra_styles %}{% endblock extra_styles %}
	{% block extra_scripts %}{% endblock extra_scripts %}  
</head>
<body {% block extra_body %}{% endblock extra_body %}>
<div id="main">
	<div class="content">
	{% block content %}
	{% endblock content %}
	</div>
</div>
</body>
</html>