{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans 'app_name' %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="{% static "oppia/style-mobile.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.min.css" %}" rel="stylesheet" %}"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.structure.min.css" %}" rel="stylesheet" %}"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.theme.min.css" %}" rel="stylesheet" %}"/>
    <link rel="shortcut icon" href="{% static "oppia/images/favicon.ico" %}"/>
    <script src="{% static "oppia/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "oppia/ui-lightness/jquery-ui.min.js" %}"></script>
    {% block extra_styles %}{% endblock extra_styles %}
	{% block extra_scripts %}{% endblock extra_scripts %}  
</head>
<body {% block extra_body %}{% endblock extra_body %}>
<div id="main">
	<div class="content">
	{% block content %}
	{% endblock content %}
	</div>
</div>
</body>
</html>