{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans 'app_name' %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META name="description" content="OppiaMobile learning"/> 
	<META name="keywords" content="oppia, oppiamobile, oppia-mobile, quiz, assessment, mobile, android, learning, video, media"/> 
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" crossorigin="anonymous">
    
    
    <link href="{% static "oppia/style.css" %}" rel="stylesheet"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.min.css" %}" rel="stylesheet"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.structure.min.css" %}" rel="stylesheet"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.theme.min.css" %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static "oppia/images/favicon.ico" %}"/>
    <script src="{% static "oppia/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "oppia/ui-lightness/jquery-ui.min.js" %}"></script>
    
    {% block extra_styles %}{% endblock extra_styles %}
	{% block extra_scripts %}{% endblock extra_scripts %}  
</head>
<body {% block extra_body %}{% endblock extra_body %}>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	{% include "includes/header-preview.html" %}
</div>

<div class="container-fluid">
	<div class="main">
		{% block content %}
		{% endblock content %}
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>