{% load i18n %}
{% load display_functions %}
{% load sort_link %}

<div class="table-responsive">
<table class="table table-fixed" style="margin-bottom:0;">
     <thead>
        <tr>
            <th class="col-xs-2 col-sm-1"></th>
            <th class="col-xs-7 col-sm-7">{% sort_link 'title' 'Name' %}</th>
            <th class="col-xs-3 col-sm-4">{% sort_link 'lastupdated_date' 'Last updated' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for course in page.object_list %}
        <tr id="{{ course.shortname }}" data-selectable-id="{{ course.shortname }}">
            <td class="col-xs-2 col-sm-1">
                <a class="btn btn-sm btn-primary btn-add"><em class="fas fa-plus"></em> <em class="far fa-check-circle hidden"></em> </a>
                <a class="btn btn-sm btn-primary btn-remove removing" style="display: none;"><em class="fas fa-trash"></em> </a>
            </td>
            <td class="col-xs-7 col-sm-7">{{ course.title | title_lang:LANGUAGE_CODE }}</td>
            <td class="col-xs-3 col-sm-4">{{ course.lastupdated_date|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% include "oppia/includes/pagination.html" %}