{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 

{% block extra_head_title %}
	{% trans 'Courses' %}
{% endblock extra_head_title %}

{% block content %}
<h2>{% trans 'Courses' %}</h2>


{% if tag_list %}
	<form method="post" class="inline-form">
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {% trans 'Filter by tag: ' %}
	<select name="tag" id="course-tag-filter">
		<option value="{% url 'oppia_course' %}">{% trans 'All courses' %}</option>
		{% for tag in tag_list %}
		 		<option value="{% url 'oppia_tag_courses' tag.id %}" {% if current_tag|slugify == tag.id|slugify %}selected="selected"{% endif %}>
		 			{{ tag.name }}
		 		</option>
		{% endfor %}
	</select>
	</form>

{% endif %}

    <form method="get" class="inline-form">
	<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {% trans 'Filter by visibility: ' %}
	<select name="visibility" id="course-visibility-filter">
        <option value="">{% trans 'All' %}</option>
        <option value="draft" {% ifequal course_filter "draft" %} selected="selected"{% endifequal %}>{% trans 'Draft' %}</option>
		<option value="archived" {% ifequal course_filter "archived" %} selected="selected"{% endifequal %}>{% trans 'Archived' %}</option>
	</select>
	</form>


{% if page.object_list %}

	 <div class="table-responsive">
         <table class="table table-striped-expandable">
         	 <thead>
                <tr>
                  <th>{% trans 'Course' %}</th>
                  <th>{% trans 'Last updated' %}</th>
                  <th>{% trans 'Downloads' %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
	{% for course in page.object_list %}
		<tr>
				<td>
					{% if course.access_detail %}
						<a href="{% url 'oppia_recent_activity' course.id %}"><strong>{{ course.title|title_lang:LANGUAGE_CODE }}</strong></a>
					{% else %}
						<strong>{{ course.title|title_lang:LANGUAGE_CODE }}</strong>
					{% endif %}	
				{% if course.is_draft %}
					- <em>{% trans 'draft' %}</em>
				{% endif %}	
				{% if course.is_archived %}
					- <em>{% trans 'archived' %}</em>
				{% endif %}<br/>
				<small>{% trans 'Tags:' %} {{ course.get_tags }}</small></td>
				<td>{{ course.lastupdated_date }} </td>
				<td>{{ course.total_downloads }} downloads by {{ course.distinct_downloads }} users<br/>
					<a href="{% url 'oppia_course_download' course.id %}">{% trans 'download course' %}</a>
				</td>
                <td>
                    {% if course.can_edit %} <a href="{% url 'oppia_course_edit' course.id %}" class="btn btn-default btn-primary">{% trans 'Edit' %}</a> {% endif %}
                </td>
			</tr>
	{% endfor %}
			</tbody>
 		</table>
	</div>
    {% include "oppia/includes/pagination.html" %}
{% else %}
	{% url 'oppia_upload' as url_upload %}
	{% blocktrans %}
		<p>You don't yet have any courses uploaded, why not <a href="{{ url_upload }}">upload one now</a>?</p>
	{% endblocktrans %}
{% endif %}

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript">
        $(function(){
            $('#course-tag-filter').on('change', function(){
                var tagURL = $(this).val();
                if (tagURL && tagURL!="") top.location.href = tagURL;
                return true;
            });

            $('#course-visibility-filter').on('change', function(){
                $(this).parent().submit();
            })
        });
    </script>
{% endblock %}