{% extends "base.html" %}
{% load i18n %}
{% load display_functions %} 
{% block content %}

<h2><a href="{% url 'oppia_recent_activity' course.id %}">{{ course.title|title_lang:LANGUAGE_CODE }}</a></h2>
<p><em>{% trans 'Tags:' %} {{ course.get_tags}}</em></p>

<div class="table-responsive">
    <table class="table">
    	 <thead>
           <tr>
             <th>{% trans 'table_header_feedback_title' %}</th>
             <th>{% trans 'table_header_feedback_no_attempts' %}</th>
           </tr>
         </thead>
         <tbody>
{% for f in feedback %}
	<tr id='{{ t.id }}' name="trackerlist" class="hover">
		<td><a href="{% url 'oppia_course_feedback_responses' course.id f.id%}">{{ f.title }}</a></td>
		<td>{{ f.no_attempts }}</td>		
	</tr>
{% endfor %}
		</tbody>
	</table>
</div> 
{% endblock content %}