{% load i18n %}
{% if leaderboard %}
	<ol class="leaderboard">
 	{% for user in leaderboard %}
    		<li>
    		<div class="leaderboardname">{{ user.first_name }} {{ user.last_name }}</div>
    		<div class="leaderboardpoints"><span class="points" title="{{ user.total  }} {% trans 'points' %}">{{ user.total }}</span>
    		<span class="badges" title="{{ user.badges }} {% trans 'badges' %}"><img src="{{ STATIC_URL }}oppia/images/badge.png" alt="{{ user.badges }} {% trans 'badges' %}"/>{{ user.badges }}</span></div>       
    		<div style="clear:both"></div>
    		</li>	
 	{% endfor %}
	</ol>
{% endif %}

