{% load i18n %}
{% load query_string %}

{% if page.has_previous or page.has_next %}
<nav class="text-center">
  <ul class="pagination">
      {% if page.has_previous %}
          <li>
          <a href="{{ ajax_url }}{% query_string "" "page" %}&page={{ page.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></span>
          </a>
         </li>
      {% endif %}

        {% if page.has_previous %}<li><a href="{{ ajax_url }}{% query_string "" "page" %}&page=1"> 1 <span class="sr-only"> 1</span></a></li>{% endif %}
        {% if page.previous_page_number > 2 %}<li><span>...</span></li> {% endif %}
        {% if page.previous_page_number > 1 %}
            <li><a href="{{ ajax_url }}{% query_string "" "page" %}&page={{ page.previous_page_number }}"> {{ page.previous_page_number }} <span class="sr-only"> {{ page.previous_page_number }}</span></a></li>
        {% endif %}
        <li class="active"><a href="{{ ajax_url }}{% query_string "" "page" %}&page={{ page.number }}"> {{ page.number }} <span class="sr-only"> {{ page.number }}</span></a></li>
        {% if page.next_page_number != page.paginator.num_pages %}
            <li><a href="{{ ajax_url }}{% query_string "" "page" %}&page={{ page.next_page_number }}"> {{ page.next_page_number }} <span class="sr-only"> {{ page.next_page_number }}</span></a></li>
            {% with page.next_page_number|add:"1" as secondnext_page %}
                {% if secondnext_page != page.paginator.num_pages %}
                    <li><span>...</span></li>
                {% endif %}
            {% endwith %}
        {% endif %}

      {% if page.has_next %}<li><a href="{{ ajax_url }}{% query_string "" "page" %}&page={{ page.paginator.num_pages }}"> {{ page.paginator.num_pages }} <span class="sr-only"> {{ page.paginator.num_pages }}</span></a></li>{% endif %}

    {% if page.has_next %}
          <li>
          <a href="{{ ajax_url }}{% query_string "" "page" %}&page={{ page.next_page_number }}" aria-label="Next">
            <span aria-hidden="true"><span class="glyphicon glyphicon-chevron-right"></span></span>
          </a>
         </li>
      {% endif %}
  </ul>
</nav>
{% endif %}