{% extends "base-preview.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% block header %}
Hello
{% endblock header %}
{% block content %}
		
		<div class="section-title">This is the section title</div>
		<div class="section" width="600px">
			
			<div class="activity">
				<img src="" class="activity_image"/>
				this is activity one
			</div>
			<div class="activity">
				<img src="" class="activity_image"/>
				this is activity one
			</div>
			<div class="activity">
				<img src="" class="activity_image"/>
				this is activity one
			</div>
			<div class="activity">
				<img src="" class="activity_image"/>
				this is activity one
			</div>
			<div style="clear:both"></div>
		</div>
{% endblock content %}