{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Register Oppia Server' %}
{% endblock extra_head_title %}

{% block header %}
<div class="jumbotron mb-4 ">
	<h3>{% trans 'Register Oppia Server' %}</h3>
</div>
{% endblock header %}

{% block content %}

{% if SERVER_REGISTERED %}
<p>{% blocktrans %}
Your Oppia site is already registered, but you can update your 
information/preferences below.
{% endblocktrans %}</p>
{% endif %} 

<h5>{% trans 'Registering your Oppia server helps keep Oppia maintained' %}</h5>

<p>{% blocktrans %}
If you choose to register your server, your server will be added to the 
<a href="https://implementations.oppia-mobile.org">Oppia Implementations site
</a>. Note that your Oppia implementation will not be displayed publically, 
unless we contact you and get your specific permission to do so. 
{% endblocktrans %}</p>

<p>{% blocktrans %}
You can choose to provide us with the number of courses and/or users on your 
Oppia site. If you choose to do so, this will help us maintain the core Oppia 
platform, by being able to demonstrate to funders the impact and reach of the 
Oppia platform. 
{% endblocktrans %}</p>

<p>{% blocktrans %}
If your server is registered with the Oppia Implementations site, you can opt to
get email notifications about new releases of the Oppia server (eg new features
and bug fixes), to help keep your Oppia up-to-date. You can change your 
preferences for this email at any time.
{% endblocktrans %}</p>


{% crispy form %}

{% endblock %}