{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{{ course.title|title_lang:LANGUAGE_CODE }}
{% endblock extra_head_title %}

{% block content %}
    <h3>{% trans 'Remote Device Administration' %}</h3>
    {% for device in devices %}
        <div class="device">
            user: {{ device.user.username }}<br/>
            <strong> {{ device.model_name }}</strong><br/>
            last modified: {{ device.modified_date }}
        </div>
    {% endfor %}

{% endblock  %}