/*
 * Base structure
 #495525 - DC dark green r73,g85,b37
 #77A240 - DC mid green r119,g162, b64
 #a5c727 - DC light green r165,g199,b39
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


a {
    color: #495525;
    text-decoration: none;
}

a:hover, a:focus {
    color: #495525;
    text-decoration: underline;
}

.bold {
	font-weight: bold;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-inverse {
    background-color: #77A240;
    border-color: #495525;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-header > a > img {
	margin-right: 5px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #495525;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #495525;
}
.nav-sidebar > .text {
  color: #495525;
  padding: 10px 20px;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #77A240;
}

.nav > li > a:hover {
  background-color: #77A240;
  color: #fff;
}
.nav > li > a:focus {
  background-color: #77A240;
  color: #fff;
}

/*
 * Main content
 */

.main {
  padding: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0;
    padding-left: 0;
  }
}
.main .page-header {
  margin-top: 0;
}

.row {
	margin: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Forms
 */
 
.form-control:focus {
	border-color: #a5c727;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(165,199,39,0.6);
	outline: 0 none;
}

.btn-primary {
    background-color: #77A240;
    border-color: #495525;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
	.btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #77A240;
    border-color: #495525;
    color: #FFFFFF;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn a:hover, .btn a:focus {
    color: #fff;
    text-decoration: none;
}

/*
 * Footer
 */
 
#footer {
	border-top: 1px solid #a5c727;
	margin-top:50px;
	padding-top: 20px;
	text-align:right;
	padding-right:20px;
}

/*
 *  Embed code display
 */

code {
	display: block !important;
  	white-space: pre-wrap;
  	margin: 10px 0 20px 0;
  	padding: 20px;
  	background-color: #ddd;
	color: #000;
}

/*
 * 
 */
 
tr.hover:hover {
    background-color: yellow;
    cursor: pointer;
}

div.date-picker-row-fluid {
	float:left;
}
div.date-picker-row-fluid .controls{ width: 100%;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #77A240;
    border-color: #77A240;
    color: #fff;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #495525;
    background-color: #a5c727;
    border-color: #a5c727;
}
.pagination > li > a, .pagination > li > span {
    color: #77A240;
}

.table-fixed{
    display: block;
    border: 1px solid #ddd;
    background:#f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
    min-height: 150px;
  overflow-y: auto;
  width: 100%;
    background:#fff;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.table-fixed tr {
    clear:left;
}
.hidden-fields .form-group{ display:none; }
.hidden-fields .form-group.has-error{ display:block; }
.hidden-fields .form-group.has-error input,
.hidden-fields .form-group.has-error textarea,
.hidden-fields .form-group.has-error p.help-block{ display:none; }

.search-block{
    border:1px solid #DDD;
    border-radius: 4px;
}
.search-block .panel-group{ margin-bottom: 0;}
.search-block thead{ background-color: #ddd; }
.search-block .panel-group .panel{ border-radius: 0; border:none;}
.search-block .panel-heading{ background-color: #77A240; padding:5px 15px;}
.search-block .panel-heading a{ display:block; padding: 6px 0; line-height: 1.42857143; color: #fff; text-decoration:none; font-size:1.1em; font-weight: bold;}

table.sortable th > a{
    display: block;
    padding: 8px;
    margin: -8px;
}
table.sortable th > a .glyphicon{
    font-size: 0.8em;
}
table.sortable th > a:hover{
    text-decoration: none;
    background: #f5f5f5;
}
table.sortable .sorted{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 85%, #e0f2a7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 85%,#e0f2a7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 85%,#e0f2a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0f2a7',GradientType=0 ); /* IE6-9 */
}
table.sortable .sorted:hover{
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 85%, #e0f2a7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f5f5 85%,#e0f2a7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f5f5 85%,#e0f2a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0f2a7',GradientType=0 ); /* IE6-9 */
}

.inline-form{
    display: inline-block;
    margin-bottom: 1em;
    max-width: 100%;
    margin-right: 1em;
}
.inline-form .glyphicon{
    margin-right: 0.1em;
    color:#77A240;
    font-size: 1.2em;
    vertical-align: middle;
}
.inline-form input, .inline-form select, .inline-form textarea{
    width: 100%;
}
.list-pie{
    width:35px !important;
    margin: -7px auto;
}

.course-scorecard{
    background-color: #fff;
    max-width: 500px;
    margin: 2em auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: auto;
}
.quizzes .quiz{
    width: 14%;
    margin:1.3%;
    background-color:#c8c8c8;
    min-height: 30px;
    float: left;
    border-radius: 8px;
    font-size:11px;
    overflow: hidden;
    text-align: center;
}
.course-scorecard h3{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.course-scorecard .summary{
    text-align: center;
    font-size:26px;
    font-weight: bold;
}
.course-scorecard .summary > div{
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden; }
.course-scorecard .summary .attempted, .course-scorecard .summary .passed{
    border-left: #d3d3d3 2px solid;
}
.course-scorecard .summary span{
    font-size:12px;
    font-weight: 100;
    text-transform: uppercase;
    display: block;
    color: #111;
}
.course-scorecard .summary .attempted{ color: #74B042; }
.course-scorecard .summary .passed{ color: #9aca3c; }
.quizzes .quiz.attempted{ background-color: #74B042; }
.quizzes .quiz.passed{ background-color: #9aca3c; }
.course-scorecard .piechart{
    width:280px;
    display: block;
    margin: auto;
    margin-top: -45px;
    position: relative;
}
.piechart .pie-activity{
    position: absolute;
    width: 40%;
    right: 80px;
    margin-left: 70px;
    top:90px;
}
.piechart .pie-label{
    font-size:25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.piechart .pie-label span{
    font-size: 15px;
    display: block;
    text-align: center;
    font-weight: 400;
    margin-top: -7px;
}
.piechart .pie-label:first-child{
    border-bottom: 1px solid #333;
    padding-bottom: 7px;
}
.glob-messages{
    margin: 1em 0;
}
.glob-messages .alert{
    padding: 5px 10px;
    margin-bottom: 5px;
}

.media-image {
	float: left;
	margin: 20px; 
}