/*
 * Base structure
 #495525 - DC dark green r73,g85,b37
 #77A240 - DC mid green r119,g162, b64
 #a5c727 - DC light green r165,g199,b39
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


a {
    color: #495525;
    text-decoration: none;
}

a:hover, a:focus {
    color: #495525;
    text-decoration: underline;
}

.bold {
	font-weight: bold;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-inverse {
    background-color: #77A240;
    border-color: #495525;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-header > a > img {
	margin-right: 5px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #495525;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #495525;
}
.nav-sidebar > .text {
  color: #495525;
  padding: 10px 20px;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #77A240;
}

.nav > li > a:hover {
  background-color: #77A240;
  color: #fff;
}
.nav > li > a:focus {
  background-color: #77A240;
  color: #fff;
}

/*
 * Main content
 */

.main {
  padding: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0;
    padding-left: 0;
  }
}
.main .page-header {
  margin-top: 0;
}

.row {
	margin: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Forms
 */
 
.form-control:focus {
	border-color: #a5c727;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(165,199,39,0.6);
	outline: 0 none;
}

.btn-primary {
    background-color: #77A240;
    border-color: #495525;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
	.btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #77A240;
    border-color: #495525;
    color: #FFFFFF;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn a:hover, .btn a:focus {
    color: #fff;
    text-decoration: none;
}

/*
 * Footer
 */
 
#footer {
	border-top: 1px solid #a5c727;
	margin-top:50px;
	padding-top: 20px;
	text-align:right;
	padding-right:20px;
}

tr.hover:hover {
    background-color: yellow;
    cursor: pointer;
}

div.date-picker-row-fluid {
	float:left;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #77A240;
    border-color: #77A240;
    color: #fff;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #495525;
    background-color: #a5c727;
    border-color: #a5c727;
}
.pagination > li > a, .pagination > li > span {
    color: #77A240;
}