/*
#31849b - steel blue
#f79646 - mustard orange
#495525 - DC dark green r73,g85,b37
#77A240 - DC mid green r119,g162, b64
#a5c727 - DC light green r165,g199,b39
*/

* {
    margin: 0;
    padding: 0;
}

body {
    color: #444444;
    font-family: Verdana,'Lucida Grande',Tahoma,Arial,Sans-Serif;
    font-size: 100%;
    padding: 5px 0;
}

h2,p {
	text-align:center;
	padding:10px 0;
}	
div.kpiheader {
    clear: both;
    font-size: 80%;
    margin: 5px;
    padding: 0 5px;
}

div.kpi {
    border: 1px solid #CCCCCC;
    clear: both;
    margin: 5px;
    padding: 5px;
} 

div.kpititle {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 40%;
}
div.kpivalue {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 20%;
}

div.list {
    border-bottom: 1px solid #999999;
    clear: both;
    padding: 10px;
}

div.listheader {
    border-bottom: 1px solid #999999;
    clear: both;
    padding: 10px;
    font-weight:bold;
}

div.listname{
    float:left;
    width: 30%;
}

div.listprogress{
    float:left;
    width: 70%;
    text-align: center;
}

div.progress-box {
	float:left;  
	margin-right:1px; 
	margin-bottom:1px; 
	min-width:10px; 
	min-height:10px; 
	padding:5px;
}

div.p-box-completed {
	background: #495525;
	color:#fff;
}

div.p-box-part-completed {
	background: #77A240;
}

div.p-box-started {
	background: #a5c727;
}

div.p-box-not-started {
	background: #ddd;
}

div.legend {
	margin:10px;
}

div.legend-title {
}

div.clickable:hover {
	cursor:pointer;
	background: yellow;
}

div.page-nav {
	width:100%;
	text-align: center;
	padding: 10px 0;
}

div.page-nav a {
	color: #495525;
	text-decoration: none;
}

