@CHARSET "UTF-8";

* { padding:0px;
    margin:0px;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    background:#eee;
}

li {
	margin-left:20px;
}
#header {
    padding:0 0 10px 0;
    color: #fff;
    background: #77a240;
}
#header a {
    color: #fff;
    text-decoration:none;
}

#logo {
    padding-left:0;
    float:left;
}

#lang {
    float:right;
}

#menu {
    margin-top:10px;
    float:left;
}
#menu ul li {
    display: inline;
    padding:10px;
    margin-left:0;
    -moz-border-radius-topright: 0.5em;
    -moz-border-radius-topleft: 0.5em;
  	border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
}
#menu ul li:hover {
    background:#495525;
    cursor:pointer;
}

#login {
    float:right;
}

#login a:hover {
    text-decoration:underline;
}

#main {
    padding:10px 0 0 0;
    min-height:300px;
    background:#eee;
}

#footer {
    padding:10px 0 10px 70%;
    background: #77a240;
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration:none;
}

#footer a:hover {
    text-decoration:underline;
}

#footer ul {
    list-style-type:none;
}
#footer ul li {
    margin:5px;
}

.version {
	font-size: 70%;
}

.content {
    width:80%;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    margin-bottom:10px;
}

h3 {
    margin:10px 0;
}

h3.formsection {
	clear:both;
	margin: 20px 0 0 0;
}
a {
    color:#495525;
}

p {
    margin-bottom:10px;
}

/* homepage */
div.homewidget {
	float:left;
	border: 1px solid #aaa;
	margin:10px;
	padding: 5px;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

div.homewidget h3{
	text-align: center;
	margin-bottom:10px;
	min-height:50px;
}

div.homewidget ol li{
	margin: 10px 0 10px 30px;
}

ol.leaderboard li {
	padding:5px 0;
}

div.fieldWrapper {
    clear: both;
    margin-bottom: 10px;
    padding: 10px;
}

div.fieldErrorWrapper {
	margin-left:150px;
}
div.fieldErrorWrapper li{
    margin-left:30px;
    color: red;
    font-size:small;
}

div.fieldLabelWrapper {
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}

div.fieldInputWrapper {
    float: left;
}

div.fieldInputMessage {
	clear:both;
    float: left;
    padding-left:160px;
    font-size:small;
}

div.errorWrapper li{
    margin-left:30px;
    color: red;
}

ul.messages {
	margin-left:20px;
}

span.points, span.badges {
	border: 0px solid #aaa;
	padding: 5px;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	font-family: courier;
	font-weight:bold;
	color: #fff;
	background:#495525;
	white-space: nowrap;
	text-align:right;
	display:inline;
}

span.badges img {
	position: relative;
	top:5px;
	margin:2px;	
}

#login p {
	margin:0px;
}

div.leaderboardname {
	float:left;
}

div.leaderboardpoints {
	text-align:right;
	float:right;
}

div.lbrank {
	float:left;
	width:5%;
	text-align:right;
	vertical-align:middle;
	padding: 10px 0;
}
div.lbname {
	float:left;
	width:60%;
	vertical-align:middle;
	padding: 10px 0;
}
div.lbpoints {
	padding:5px;
	float:left;
	width:10%;
	text-align:right;
}

div.page_navigator {
	margin:10px;
}

div.homelink {
	text-align:center;
	width:100%;	
}

div.badge {
	margin:10px;
}

div.badge img {
	float:left;
	margin-right:20px;
	padding:5px;
	border: 1px solid #aaa;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}

div.badge_data {
	float:left;
}

div.tableheader {
    border-bottom: 1px solid #999999;
    clear: both;
    padding: 10px;
    font-weight:bold;
}

div.tablelist {
    border-bottom: 1px solid #999999;
    clear: both;
    padding: 10px;
}

div.tablelist:hover {
	background:yellow;
}

div.tablecell{
	float:left;
	width:10%;
	text-align:center;
}

div.tabletitle{
	float:left;
	width:35%;
}


