{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}

{% block content %}
<div class="container">
	<h2>{{ title }}</h2>
	{% if page.object_list %}
		<div class="table-responsive">
	         <table class="table table-striped">
				 <thead>
	                <tr>
	                  <th>{% trans 'Image' %}</th>
	                  <th>{% trans 'Media' %}</th>
	                  <th>{% trans 'Embed Code' %}</th>
	                </tr>
	              </thead>
	              <tbody>
	              {% for media in page.object_list %}
	              	  {% include 'oppia/av/media_row.html' %}
	              {% endfor %}
	              </tbody>
	 		</table>
		</div>
		
		{% include "oppia/includes/pagination.html" %}	
	{% endif %}
</div>
{% endblock %}