{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load thumbnail %}

{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}


{% block content %}
<div class="container">
	<h2>{{ title }}</h2>
    {% blocktrans with media.file.url as download_media %}
     <p>The media available for download at: <a href="{{ download_media }}" target="_blank">{{ download_media }}</a> </p>
    {% endblocktrans %}
    
    <h3>{% trans 'Embed code for Moodle' %}</h3>
    <code>{{ embed_code }}</code>
   
   	{% if media.images.all %}
	   	<h3>{% trans 'Sample Images' %}</h3>
	   	{% for image in media.images.all %}
	   		<div class="media-image">
		  		{% thumbnail image.image "220x150" crop="center" as im %}
					<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{% trans 'Media image'%}>
				{% endthumbnail %}
				<br/>
				{% if image.default_image %}
					[{% trans 'default' %}]
				{% else %}
					[<a href="{% url 'oppia_av_set_default_image' image.id %}">{% trans 'set as default' %}</a>]
				{% endif %}
			</div>
	   	{% endfor %}
	{% endif %}
</div>
{% endblock %}

