{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Media Embed Helper' %}
{% endblock extra_head_title %}

{% block content %}
<h2>{% trans 'Media Embed Helper' %}</h2>

{% crispy form %}

<div style="clear:both; margin-bottom: 20px"></div>

{% if processed_media %}
	<h3>{% trans 'Results' %}</h3>

    {% if processed_media.success == True %}
        {% blocktrans %}
        <p>Please copy and paste the code below into your Moodle HTML page to embed the media in your course: </p>
        {% endblocktrans %}

		<div style="padding:20px;">
        {{ processed_media.embed_code }}
        </div>
        
        {% if processed_media.image_files %}
            {% blocktrans %}
            <p>The script has also generated the following screenshots from the media that you may wish to use (right click over the image and select 'save as' to save to your computer for uploading into Moodle):</p>
            {% endblocktrans %}
            {% for im in processed_media.image_files %}
                <img src="{{ processed_media.image_url_root }}{{ im }}" style="margin:20px;" alt="{% trans 'Media image'%}/>
            {% endfor %}
        {% endif %}
    {% else %}
        {% if processed_media.error %}
            <p><div class="alert alert-danger" role="alert"><strong>Error:</strong> {% trans processed_media.error %}</div></p>
        {% endif %}
    {% endif %}
	
{% endif %}


{% endblock %}