{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}

{% block extra_head_title %}
	{{ title }}
{% endblock extra_head_title %}


{% block content %}
<div class="container">
	<h2>{{ title }}</h2>
    {% blocktrans with media.file.url as download_media %}
     <p>Your file has been successfully uploaded.</p>
     <p>The media is now available for download at: <a href="{{ download_media }}" target="_blank">{{ download_media }}</a> </p>
    {% endblocktrans %}
    
    <h3>{% trans 'Embed code for Moodle' %}</h3>
    <code>{{ embed_code }}</code>
    <a href="{% url 'oppia_av_upload' %}" class="btn btn-primary btn btn-default">{% trans 'Upload another media file' %}</a>
</div>
{% endblock %}

