{% load i18n %}
{% load static %}

{% block extra_scripts %}
	<script src="{% static "oppia/js/oppia.chart-utils.js" %}"></script>
	<script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
	<script type="text/javascript">
		var dsets = {};
		google.charts.load('current', {packages: ['corechart']});
		google.charts.setOnLoadCallback(drawChart);
	
		function drawChart() {
	
			dsets['graph_data'] = new google.visualization.DataTable();
			dsets['graph_data'].addColumn('string', "{% trans 'Date' %}");
			dsets['graph_data'].addColumn('number', "{% trans 'Total' %}");
			
			dsets['graph_data'].addRows( {{ activity_graph_data|length }} );
			
			{% for date,count in activity_graph_data %}
				dsets['graph_data'].setValue({{ forloop.counter0 }},0,'{{ date }}');
				dsets['graph_data'].setValue({{ forloop.counter0 }},1, {{ count }});
			{% endfor %}
	
	        var chart = new google.visualization.AreaChart(document.getElementById('activity_graph_div'));
	        chart.draw(dsets['graph_data'], {	width: "100%",
	                			height: 400,
	                			vAxis: {minValue:0, maxLines:2, viewWindow: {min:0 }},
	                			pointSize:3,
	                			chartArea: {left:80,top:10,width:"90%",height:"75%"},
	                			backgroundColor: 'transparent',
	                			legend: 'none',
	                			series: [{areaOpacity:0.2}]
	                			});
	      };
	      {% include 'reports/includes/csv_export_button.html' %}
	</script>
	{% endblock extra_scripts %}
	
<div id="activity_graph_div" class="graph"><img src="{% static "oppia/images/ajax-loader.gif" %}" alt="{% trans 'graph_generating' %}"/></div>