<div class="ajax-load" id="{{ list_id|default:'results' }}" {% if data_initial %}data-initial="{{data_initial}}" data-preservehistory="true"{% endif %}>
    <div class="results">
        {% if query_template %}
            {% include query_template %}
        {% endif %}
    </div>
    <div class="loading-spinner">
        <div class="progress-circular progress-circular-primary">
          <div class="progress-circular-wrapper">
            <div class="progress-circular-inner">
              <div class="progress-circular-left">
                <div class="progress-circular-spinner"></div>
              </div>
              <div class="progress-circular-gap"></div>
              <div class="progress-circular-right">
                <div class="progress-circular-spinner"></div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <span class="sr-only">Loading...</span>
</div>