.btn{
    &:not(.btn-link){
        font-family: $font-family-emphasis;
        font-weight:500;
    }
    &.btn-inline{ min-width:auto; max-width:initial;}
    &.btn-em{ font-weight: 600; }
}

.download-csv-button{
    position: relative;
    margin: 20px 0 20px 50px;
}

[data-toggle="collapse"]{
    &:not(.collapsed) .expand-btn{
        transform:rotate(180deg);
    }
    &.collapsed .expand-btn{
        transform:rotate(0deg);

    }
    .expand-btn{
        position:absolute;
        right:20px;
        top:50%;
        margin-top:-7px;
        transition: transform 0.3s;
    }

     &:not(.collapsed) .unfold-more { display: none; }
     &.collapsed .unfold-less { display: none; }
}
