
.list-pie{
    width:35px !important;
    margin: -7px auto;
}
.course-scorecard{
    background-color: #fff;
    max-width: 500px;
    margin: 2em auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: auto;
}
.quizzes .quiz{
    width: 14%;
    margin:1.3%;
    background-color:#c8c8c8;
    min-height: 30px;
    float: left;
    border-radius: 8px;
    font-size:11px;
    overflow: hidden;
    text-align: center;
}
.course-scorecard h3{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.course-scorecard .summary{
    text-align: center;
    font-size:26px;
    font-weight: bold;
}
.course-scorecard .summary > div{
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden; }
.course-scorecard .summary .attempted, .course-scorecard .summary .passed{
    border-left: #d3d3d3 2px solid;
}
.course-scorecard .summary span{
    font-size:12px;
    font-weight: 100;
    text-transform: uppercase;
    display: block;
    color: #111;
}
.course-scorecard .summary .attempted{ color: #74B042; }
.course-scorecard .summary .passed{ color: #9aca3c; }
.quizzes .quiz.attempted{ background-color: #74B042; }
.quizzes .quiz.passed{ background-color: #9aca3c; }

.course-scorecard .piechart{
    width:280px;
    display: block;
    margin: auto;
    margin-top: -45px;
    position: relative;
}
.piechart .pie-activity{
    position: absolute;
    width: 40%;
    right: 80px;
    margin-left: 70px;
    top:90px;
}
.piechart .pie-label{
    font-size:25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.piechart .pie-label span{
    font-size: 15px;
    display: block;
    text-align: center;
    font-weight: 400;
    margin-top: -7px;
}
.piechart .pie-label:first-child{
    border-bottom: 1px solid #333;
    padding-bottom: 7px;
}