/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.inner-scroll{
    overflow-y:scroll;
    &::-webkit-scrollbar{ width: 19px; }

    &::-webkit-scrollbar-track{ background:transparent; border: solid 3px transparent; }
    &::-webkit-scrollbar-thumb {
        background:transparent;
        box-shadow: inset 0 0 0 10px #888;
        border: solid 4px transparent;
        border-radius:12px;
    }
    &::-webkit-scrollbar-thumb:hover { box-shadow: inset 0 0 0 10px $oppia-light; }
}