table.sortable th{
    padding:0;
}
table.sortable th > a{
    display: block;
    padding: 8px;
    line-height:0.9em;
    height:100%;
    font-weight:normal;
}
table.sortable th > a .glyphicon, table.sortable th > a .fas{
    font-size: 0.8em;
}
table.sortable th > a:hover{
    text-decoration: none;
    background: #f5f5f5;
}
table.sortable .sorted{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 85%, $oppia-lighter 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 85%, $oppia-lighter 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 85%, $oppia-lighter 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$oppia-lighter',GradientType=0 ); /* IE6-9 */
}
table.sortable .sorted:hover{
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 85%, $oppia-lighter 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f5f5 85%, $oppia-lighter 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f5f5 85%, $oppia-lighter 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='$oppia-lighter',GradientType=0 ); /* IE6-9 */
}

.table-fixed{
    display: block;
    border: 1px solid #ddd;
    background:#f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
    min-height: 150px;
  overflow-y: auto;
  width: 100%;
    background:#fff;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.table-fixed tr {
    clear:left;
}

.search-block{
    border:1px solid #DDD;
    border-radius: 4px;
}
.search-block .panel-group{ margin-bottom: 0;}
.search-block thead{ background-color: #ddd; }
.search-block .panel-group .panel{ border-radius: 0; border:none;}
.search-block .panel-heading{ background-color: #77A240; padding:5px 15px;}
.search-block .panel-heading a{ display:block; padding: 6px 0; line-height: 1.42857143; color: #fff; text-decoration:none; font-size:1.1em; font-weight: bold;}
