table.sortable th > a{
    display: block;
    padding: 8px;
    margin: -8px;
}
table.sortable th > a .glyphicon{
    font-size: 0.8em;
}
table.sortable th > a:hover{
    text-decoration: none;
    background: #f5f5f5;
}
table.sortable .sorted{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 85%, $oppia-lighter 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 85%, $oppia-lighter 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 85%, $oppia-lighter 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$oppia-lighter',GradientType=0 ); /* IE6-9 */
}
table.sortable .sorted:hover{
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 85%, $oppia-lighter 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f5f5 85%, $oppia-lighter 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f5f5 85%, $oppia-lighter 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='$oppia-lighter',GradientType=0 ); /* IE6-9 */
}