{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block extra_head_title %}{% endblock extra_head_title %} - {% trans 'app_name' %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META name="description" content="OppiaMobile learning"/> 
	<META name="keywords" content="oppia, oppiamobile, oppia-mobile, quiz, assessment, mobile, android, learning, video, media"/> 
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" crossorigin="anonymous">
    
    <link href="{% static "oppia/style.css" %}" rel="stylesheet"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.min.css" %}" rel="stylesheet"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.structure.min.css" %}" rel="stylesheet"/>
    <link href="{% static "oppia/ui-lightness/jquery-ui.theme.min.css" %}" rel="stylesheet"/>
 
    <script src="{% static "oppia/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "oppia/ui-lightness/jquery-ui.min.js" %}"></script>
    
    <!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "oppia/images/favicon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "oppia/images/favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "oppia/images/favicon/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "oppia/images/favicon/manifest.json" %}">
	<link rel="mask-icon" href="{% static "oppia/images/favicon/safari-pinned-tab.svg" %}" color="#00a300">
	<meta name="theme-color" content="#ffffff">    
    
    {% block extra_styles %}
    {% endblock extra_styles %}
	
    {% block extra_scripts %}
    {% endblock extra_scripts %}  
</head>

<body {% block extra_body %}{% endblock extra_body %}>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	{% include "includes/header.html" %}
</div>

<div class="container-fluid">
    <div class="main"> 
    {% if DEVELOPMENT_SERVER %}
         <div class="alert alert-danger alert-dismissable">
         	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>{% trans 'This is a development server, anything added here will not be shared on the live site' %}</strong>
         </div>
     {% endif %}
          
{% block content %}
{% endblock content %}
	</div> <!--  end main -->
</div> <!--  end container -->

<div id="footer">
    <p class="text-muted">
    	<a href="{% url 'oppia_about' %}">{% trans 'footer_about' %}</a> |
    	<a href="{% url 'oppia_about' %}#terms">{% trans 'footer_terms' %}</a> |
    	{{ version }} &copy; {% now "Y" %} <a href="http://digital-campus.org">Digital Campus</a>
    </p>
</div>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

{% if OPPIA_GOOGLE_ANALYTICS_ENABLED %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', '{{ OPPIA_GOOGLE_ANALYTICS_CODE }}', '{{ OPPIA_GOOGLE_ANALYTICS_DOMAIN }}');
	  ga('send', 'pageview');
	</script>
{% endif %}
</body>
</html>

