<div class="activity-type position-absolute bg-light-1 py-1 text-center" style="width:4rem;">
{% if activity.type == "quiz" %}
    <em data-toggle="tooltip" title="Quiz" class="far fa-2x fa-check-circle text-white"></em>
{% endif %}
{% if activity.type == "media" %}
    <em data-toggle="tooltip" title="Media" class="fas fa-2x fa-photo-video text-white"></em>
{% endif %}
{% if activity.type == "page" %}
    <em data-toggle="tooltip" title="Page" class="fas fa-2x fa-chalkboard-teacher text-white"></em>
{% endif %}
{% if activity.type == "feedback" %}
    <em data-toggle="tooltip" title="Feedback" class="far fa-2x fa-comment-dots text-white"></em>
{% endif %}
</div>