{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %}

{% block extra_head_title %}
	{% trans 'Activity Map' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Activity Map' %}</h2>

<iframe width='100%' height='600' style="border: 0px;"
	src='http://digital-campus.cartodb.com/viz/1963cf2c-ad54-11e3-9066-0e230854a1cb/embed_map?title=false&#038;description=false&#038;search=false&#038;shareable=true&#038;cartodb_logo=true&#038;layer_selector=false&#038;legends=false&#038;scrollwheel=true&#038;fullscreen=true&#038;sublayer_options=1&#038;sql='
	allowfullscreen webkitallowfullscreen mozallowfullscreen
	oallowfullscreen msallowfullscreen
	title="{% trans 'OppiaMobile user map'%}></iframe>

{% endblock %}
