{% extends "base-preview.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% block content %}
<h3>OppiaMobile</h3>

{% if course_list %}
	 <div class="table-responsive">
         <table class="table">
         	 <thead>
                <tr>
                  <th>{% trans 'table_header_course' %}</th>
                </tr>
              </thead>
              <tbody>
              {% for course in course_list %}
		<tr>
				<td><a href="{% url 'oppia_preview_course_home' course.id %}">
				<strong>{{ course.title|title_lang:LANGUAGE_CODE }}</strong></a>
				{% if course.is_draft %}
					- <em>{% trans 'draft' %}</em>
				{% endif %}	
				{% if course.is_archived %}
					- <em>{% trans 'archived' %}</em>
				{% endif %}<br/>
				<small>{% trans 'Tags:' %} {{ course.get_tags}}</small></td>
			</tr>
	{% endfor %}
			</tbody>
 		</table>
	</div>

{% endif %}

{% endblock %}