{% load i18n %}
{% load display_functions %}
{% block content %}
<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="{% url 'oppia_home' %}"><img src="{{ STATIC_URL }}oppia/images/dc_logo.png" height="24"/>{% trans 'app_name' %}</a>
	  </div>
	  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-right">
		      {% if user.is_authenticated %}
		        <li><a href="{% url 'oppia_course' %}">{% trans 'menu_courses' %}</a></li>
		        <li><a href="{% url 'oppia_upload' %}">{% trans 'menu_upload' %}</a></li>
		       {% endif %}
		       {% if user.is_staff %}
		       		<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans 'menu_visualisations' %}<b class="caret"></b></a>
		       		<ul class="dropdown-menu">
		       			<li><a href="{% url 'oppia_viz_summary' %}">{% trans 'Summary Overview' %}</a></li>
		        		<li><a href="{% url 'oppia_viz_map' %}">{% trans 'Activity Map' %}</a></li>
		       		</ul>
					</li>
		       {% endif %}
		       {% if user.is_superuser %}
		       		<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans 'Admin' %}<b class="caret"></b></a>
		       		<ul class="dropdown-menu">
		       			<li><a href="{% url 'profile_upload' %}">{% trans 'Upload users' %}</a></li>
		       		</ul>
					</li>
		       {% endif %}
		       
		       {% if user.is_authenticated %}
		            <li><a href="{% url 'profile_edit' %}">{% trans 'Profile' %}</a></li>
		            <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans 'Logout' %}</a></li>
		        {% else %}
		            <li><a href="{% url 'profile_login' %}?next={{ request.path }}">{% trans 'Login' %}</a></li>
		           	{% if OPPIA_ALLOW_SELF_REGISTRATION %}
		           		<li><a href="{% url 'profile_register' %}?next={{ request.path }}">{% trans 'Register' %}</a></li>
		           	{% endif %}     
		        {% endif %}
		    </ul>
	  </div>
</div>
{% endblock content %}
