{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Summary Overview' %}
{% endblock extra_head_title %}

{% block extra_body %}
	onload="setUpDatePicker();"
{% endblock extra_body %}

{% if user.is_authenticated %}
	{% block extra_scripts %}
    <script src="{{ STATIC_URL }}oppia/js/oppia.chart-utils.js"></script>
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type="text/javascript">

        {% include "oppia/includes/init-date-picker-js.html" %}

        function getMonthlyDatatable(rowCount){
            var datatable = new google.visualization.DataTable();
            datatable.addColumn('string', "{% trans 'Month/Year' %}");
            datatable.addColumn('number', "{% trans 'Total' %}");
            datatable.addRows( rowCount );
            return datatable;
        }
        // Initialize the datasets dictionary
        var dsets = {};

        // Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});
		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);
		function drawChart() {

			dsets['users_regs'] = getMonthlyDatatable({{ user_registrations|length }});
	        dsets['users_regs_aggr'] = getMonthlyDatatable({{ user_registrations|length }});

			count = {{ previous_user_registrations }};
			{% for u in user_registrations %}
                dsets['users_regs'].setValue({{ forloop.counter0 }},0,'{{ u.month }}-{{ u.year }}');
				dsets['users_regs'].setValue({{ forloop.counter0 }},1,{{ u.count }});
				count += {{ u.count }};
				dsets['users_regs_aggr'].setValue({{ forloop.counter0 }},0,'{{ u.month }}-{{ u.year }}');
				dsets['users_regs_aggr'].setValue({{ forloop.counter0 }},1,count);
			{% endfor %}

            new google.visualization
                    .AreaChart(document.getElementById('user_registrations_chart_div'))
	                .draw(dsets['users_regs'], getDefaultAreaChartConfig('{% trans 'User Registrations (by month)' %}'));

	        new google.visualization
                    .AreaChart(document.getElementById('user_registrations_cumulative_chart_div'))
	                .draw(dsets['users_regs_aggr'], getDefaultAreaChartConfig('{% trans 'User Registrations (cumulative)' %}'));

	        dsets['country_activity'] = new google.visualization.DataTable();
			dsets['country_activity'].addColumn('string', "{% trans 'Country' %}");
			dsets['country_activity'].addColumn('number', "{% trans 'Total' %}");
			dsets['country_activity'].addRows( {{ country_activity|length }} );

			count = 0;
			{% for ca in country_activity %}
				dsets['country_activity'].setValue({{ forloop.counter0 }},0,'{{ ca.country_name }}');
				dsets['country_activity'].setValue({{ forloop.counter0 }},1,{{ ca.hits_percent|floatformat:1 }});
			{% endfor %}

			var options3 = {
			          title: '{% trans 'Activity by Country (top 20 + others)' %}',
			          width: '50%',
			          height: 400,
			          chartArea: {left:45,top:40,width:"90%",height:"75%"},
			          backgroundColor: 'transparent',
			        };

			var chart3 = new google.visualization.PieChart(document.getElementById('activity_by_country_chart_div'));
			chart3.draw(dsets['country_activity'], options3);

			dsets['languages'] = new google.visualization.DataTable();
			dsets['languages'].addColumn('string', "{% trans 'Language' %}");
			dsets['languages'].addColumn('number', "{% trans 'Total' %}");
			dsets['languages'].addRows( {{ languages|length }} );

			count = 0;
			{% for l in languages %}
				dsets['languages'].setValue({{ forloop.counter0 }},0,'{{ l.lang }}');
				dsets['languages'].setValue({{ forloop.counter0 }},1,{{ l.hits_percent|floatformat:1 }});
			{% endfor %}

			var optionsLang = {
			          title: '{% trans 'Activity by Language (top 10 + others)' %}',
			          width: '50%',
			          height: 400,
			          chartArea: {left:45,top:40,width:"90%",height:"75%"},
			          backgroundColor: 'transparent',
			        };

			var chartLang = new google.visualization.PieChart(document.getElementById('activity_by_language_chart_div'));
			chartLang.draw(dsets['languages'], optionsLang);

			dsets['downloads'] = getMonthlyDatatable( {{ course_downloads|length }} );
            dsets['downloads_aggr'] = getMonthlyDatatable( {{ course_downloads|length }} );

            count =  {{ previous_course_downloads }}
			{% for cd in course_downloads %}
				dsets['downloads'].setValue({{ forloop.counter0 }},0,'{{ cd.month }}-{{ cd.year }}');
				dsets['downloads'].setValue({{ forloop.counter0 }},1,{{ cd.count }});
                count += {{ cd.count }};
				dsets['downloads_aggr'].setValue({{ forloop.counter0 }},0,'{{ cd.month }}-{{ cd.year }}');
				dsets['downloads_aggr'].setValue({{ forloop.counter0 }},1,count);
			{% endfor %}

	        new google.visualization
                .AreaChart(document.getElementById('course_downloads_chart_div'))
                .draw(dsets['downloads'], getDefaultAreaChartConfig('{% trans 'Course Downloads (by month)' %}'));

	        new google.visualization
                .AreaChart(document.getElementById('course_downloads_cumulative_chart_div'))
                .draw(dsets['downloads_aggr'], getDefaultAreaChartConfig('{% trans 'Course Downloads (cumulative)' %}'));

	        dsets['activity'] = getMonthlyDatatable( {{ course_activity|length }} );
            dsets['activity_aggr'] = getMonthlyDatatable( {{ course_activity|length }} );

            count = {{ previous_course_activity }};
            {% for ca in course_activity %}
				dsets['activity'].setValue({{ forloop.counter0 }},0,'{{ ca.month }}-{{ ca.year }}');
				dsets['activity'].setValue({{ forloop.counter0 }},1,{{ ca.count }});
                count += {{ ca.count }};
				dsets['activity_aggr'].setValue({{ forloop.counter0 }},0,'{{ ca.month }}-{{ ca.year }}');
				dsets['activity_aggr'].setValue({{ forloop.counter0 }},1,count);
			{% endfor %}

	        new google.visualization
                .AreaChart(document.getElementById('course_activity_chart_div'))
                .draw(dsets['activity'], getDefaultAreaChartConfig('{% trans 'Course Activity (by month)' %}'));

	        new google.visualization
                    .AreaChart(document.getElementById('course_activity_cumulative_chart_div'))
	                .draw(dsets['activity_aggr'], getDefaultAreaChartConfig('{% trans 'Course Activity (cumulative)' %}'));
	        
	        var data8 = new google.visualization.DataTable();
			data8.addColumn('string', "{% trans 'Course' %}");
			data8.addColumn('number', "{% trans 'Total' %}");
			data8.addRows( {{ hot_courses|length }} );
			
			count = 0;
			{% for hc in hot_courses %}
				data8.setValue({{ forloop.counter0 }},0,'{{ hc.course }}');
				data8.setValue({{ forloop.counter0 }},1,{{ hc.hits_percent|floatformat:1 }});
			{% endfor %}
	
			var options8 = {
			          title: '{% trans 'Most Active Courses (in last month)' %}',
			          width: '50%',
			          height: 400,
			          chartArea: {left:45,top:40,width:"90%",height:"75%"},
			          backgroundColor: 'transparent',
			        };

			var chart8 = new google.visualization.PieChart(document.getElementById('activity_by_course_chart_div'));
			chart8.draw(data8, options8);

            dsets['searches'] = getMonthlyDatatable( {{ searches | length }} );
            dsets['searches_aggr'] = getMonthlyDatatable( {{ searches | length }} );

			count = {{ previous_searches }};
			{% for ss in searches %}
                dsets['searches'].setValue({{ forloop.counter0 }},0,'{{ ss.month }}-{{ ss.year }}');
				dsets['searches'].setValue({{ forloop.counter0 }},1,{{ ss.count }});
                count += {{ ss.count }};
				dsets['searches_aggr'].setValue({{ forloop.counter0 }},0,'{{ ss.month }}-{{ ss.year }}');
				dsets['searches_aggr'].setValue({{ forloop.counter0 }},1,count);
			{% endfor %}

            new google.visualization
                    .AreaChart(document.getElementById('searches_chart_div'))
	                .draw(dsets['searches'], getDefaultAreaChartConfig('{% trans 'In app-searches (by month)' %}'));

	        new google.visualization
                    .AreaChart(document.getElementById('searches_cumulative_chart_div'))
	                .draw(dsets['searches_aggr'], getDefaultAreaChartConfig('{% trans 'In app-searches (cumulative)' %}'));
	      }

    $(function(){
        $('.download-csv').on('click', function(){
            var dataset_name = $(this).attr('data-csv');
            if (dsets[dataset_name]){
                var csvContent = getCSVFromDatatable(dsets[dataset_name]);
                downloadFile(csvContent, dataset_name+'.xls', 'text/csv');
            }
        });
    });

	</script>
	{% endblock extra_scripts %}

    {% block extra_styles %}
        <style>
        .download-csv{
            position: relative;
            top: -20px;
            left: 50px;
        }
        </style>
    {% endblock extra_styles %}

{% endif %} 
{% block content %}

<h2>{% trans 'Summary Overview' %}</h2>

{% crispy form %}

<h3>{% trans 'User Registrations' %}</h3>

<div id="user_registrations_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if user_registrations %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="users_regs">{% trans 'Download as CSV' %}</button>
{% endif %}

<div id="user_registrations_cumulative_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if user_registrations %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="users_regs_aggr">{% trans 'Download as CSV' %}</button>
{% endif %}

<h3>{% trans 'Activity by Country' %}</h3>
<p>{% trans 'Total countries:' %} {{ total_countries }}</p>
<div id="activity_by_country_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
<button class="btn btn-default btn-primary btn-sm download-csv" data-csv="country_activity">{% trans 'Download as CSV' %}</button>
<div id="activity_by_language_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>

<h3>{% trans 'Course Downloads' %}</h3>
<div id="course_downloads_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if course_downloads %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="downloads">{% trans 'Download as CSV' %}</button>
{% endif %}

<div id="course_downloads_cumulative_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if course_downloads %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="downloads_aggr">{% trans 'Download as CSV' %}</button>
{% endif %}

<h3>{% trans 'Course Activity' %}</h3>
<div id="course_activity_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if course_activity %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="activity">{% trans 'Download as CSV' %}</button>
{% endif %}

<div id="course_activity_cumulative_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if course_activity %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="activity_aggr">{% trans 'Download as CSV' %}</button>
{% endif %}

<div id="activity_by_course_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>

<h3>{% trans 'In app-searches' %}</h3>
<div id="searches_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if searches %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="searches">{% trans 'Download as CSV' %}</button>
{% endif %}

<div id="searches_cumulative_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif" alt="{% trans 'graph_generating'%}"/></div>
{% if searches %}
    <button class="btn btn-default btn-primary btn-sm download-csv" data-csv="searches_aggr">{% trans 'Download as CSV' %}</button>
{% endif %}

{% endblock %}
