/*
#31849b - steel blue
#f79646 - mustard orange
#495525 - DC dark green
#77A240 - DC mid green
#a5c727 - DC light green
*/


#oppia-content h1,h2,h3,h4 {
	margin: 10px 5px;
	text-align:center;
	color: #495525;
	font-size: 120%;
}

#oppia-content p {
	margin:10px 5px;
}

#oppia-content ul {
	margin: 10px 0;
}

#oppia-content ul li {
	margin-left:25px;
	list-style: none;	
}

#oppia-content ul li:before {
      /* For a round bullet */
      content:'\2022';
      /* For a square bullet */
      /*content:'\25A0';*/
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -12px;
      color: #77A240;
      font-size: 30px;
    }
 
#oppia-content ol {
	margin: 10px 0;
}

#oppia-content ol li {
	margin-left:25px;
}

#oppia-content a {
	color: #495525;
	text-decoration: underline;
}

#oppia-content table {
	border:1px solid #000;
	width:100%;
	border-collapse: collapse;
}

#oppia-content table th {
 font-weight: bold;
 background: #77A240;
 padding: 0.5em;
 border-bottom: 1px solid #000;
 border-right: 1px solid #000;
}

#oppia-content table td {
	padding: 0.5em;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	vertical-align: top;
}

#oppia-content td > ul > li:before {
        /* For a round bullet */
      content:'\2022';
      /* For a square bullet */
      /*content:'\25A0';*/
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: 0;
      color: #000;
}

#oppia-content  .box {
	margin:10px 5px;
	padding: 4px 4px 4px 4px;
	border: 1px solid #888;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}

#oppia-content .activity, 
#oppia-content .core,
#oppia-content .casestudy,
#oppia-content .pause {
	
}


#oppia-content .definition,
#oppia-content .action,
#oppia-content .warning,
#oppia-content .suggestion, 
#oppia-content .info,
#oppia-content .question {
	padding: 10px 10px 5px 60px;
	background-repeat: no-repeat;
	min-height: 70px;
}

#oppia-content .definition{
	background-image: url('default-style-resources/book.png'); 
}

#oppia-content .action {
	background-image: url('default-style-resources/tick.png'); 
}

#oppia-content .warning {
	background-image: url('default-style-resources/warning.png'); 
	font-weight:bold;
}

#oppia-content .suggestion, #oppia-content .info {
	background-image: url('default-style-resources/info.png'); 
}

#oppia-content .question {
	background-image: url('default-style-resources/question.png'); 
}

#oppia-content div.question > p:first-child {
	font-weight:bold;
}

#oppia-content div.question p {
	margin: 0 10px 10px 0;
}

#oppia-content .reveal {
	text-decoration: underline;
	color: #495525;
	cursor: pointer;
}

#oppia-content img {
	text-align:center;
	display:block;
	margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

#oppia-content .credit, #oppia-content .caption {
	font-size: 80%;
	margin: 3px 0 10px 0;
	text-align:center;
	line-height: 1.2em;
	color:#666;
	font-style:italic;
}
